{{#generateFacepile (defaultValue facepile-count count) (defaultValue facepile-size size)}}
<div class="hoo-facepile">
    {{#each avatars}}
        {{>molecules-avatar-presence}}
    {{/each}}
</div>
{{/generateFacepile}}