{{#player-stream}}
<div class="hoo-video-player">
<iframe src="{{ src }}" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="chemex.mp4"></iframe>
</div>
{{/player-stream}}