<article class="card employee">
    {{> molecules-card-media }}
    <section class="card-data">
        {{> molecules-card-var-title }}
        {{!-- <address class="card-address">N8D - New York</address> --}}
        {{> molecules-card-address }}
    </section>
</article>