<article class="card hotm">
    <section class="card-data">
        {{> molecules-card-var-title }}
    </section>
    <figure class="card-media">
        <svg class="card-media-svg">
            <clipPath id="card-media-clip" clipPathUnits="objectBoundingBox">
                <path
                    d="M0.623,0.355 L0.517,0.013 c-0.005,-0.017,-0.028,-0.017,-0.034,0 l-0.106,0.342 c-0.002,0.008,-0.009,0.013,-0.017,0.013 H0.018 c-0.017,0,-0.024,0.023,-0.01,0.034 l0.277,0.211 c0.006,0.005,0.009,0.013,0.006,0.021 l-0.106,0.342 c-0.005,0.017,0.013,0.031,0.027,0.021 l0.277,-0.211 c0.006,-0.005,0.015,-0.005,0.021,0 l0.277,0.211 c0.014,0.011,0.032,-0.004,0.027,-0.021 l-0.106,-0.342 c-0.002,-0.008,0,-0.016,0.006,-0.021 l0.277,-0.211 c0.014,-0.011,0.007,-0.034,-0.01,-0.034 h-0.343 c-0.008,0,-0.014,-0.005,-0.017,-0.013">
                </path>
            </clipPath>
        </svg>
        <img src="{{ img }}" alt="" class="card-img">
    </figure>
    <footer class="card-footer">
        <p>Worked 24/7 over the last 3 weeks</p>
    </footer>
</article>