{{!-- article.cardloc>figure.card-media+img.card-img+figcaption.card-caption+section.card-data --}}
<article class="card location">
    {{> molecules-card-media }}
    <section class="card-data">
        {{> molecules-card-var-title }}
        {{> molecules-card-address }}
    </section>
</article>