<div class="tooltip-left">
    <div class="tooltip-content">Hello world<br>hello world llll</div>
    <div class="tooltip-arrow"></div>
</div>
<br>
<br>
<br>
<div class="tooltip-right">
    <div class="tooltip-content">Hello world</div>
    <div class="tooltip-arrow"></div>
</div>
<br>
<br>
<br>
<div class="tooltip-up">
    <div class="tooltip-content">Hello world</div>
    <div class="tooltip-arrow"></div>
</div>
<br>
<br>
<br>
<div class="tooltip-down">
    <div class="tooltip-content">Hello world</div>
    <div class="tooltip-arrow"></div>
</div>