/***** Color converted to SCSS variables *****/
/**** REQURIED FOR STYLE GUIDE ****/
.sg-colors,
.sg-elevations {
  font-family: sans-serif;
  list-style: none;
}

.sg-colors {
  -moz-column-count: 3;
       column-count: 3;
}

.sg-elevations {
  display: flex;
  flex-direction: row;
  padding: 5rem 3rem;
  flex-wrap: wrap;
}

.sg-swatch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sg-swatchbox {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  content: " ";
  flex-shrink: 0;
}

.sg-elevation {
  display: flex;
  flex-direction: row;
  margin: 2 4rem;
  flex-basis: 50%;
}

.sg-elevationbox {
  display: flex;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  content: " ";
  border: 1px #605e5c solid;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  flex-shrink: 0;
  page-break-inside: avoid;
}

.sg-anim-blocks {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: var(--buttonBackgroundCheckedHovered);
  align-content: center;
  align-items: center;
  will-change: content;
}

.sg-anim-block {
  width: 75px;
  height: 75px;
  margin: 1rem;
  content: "";
  background-color: #72ad97;
  will-change: opactiy;
}

/**** BASE VARS AND MIXIN's ****/
:root {
  --accent: #4f6bed;
  --accentButtonBackground: #4f6bed;
  --accentButtonText: #ffffff;
  --AccentLines: #13898d;
  --AccentText: #03787c;
  --actionLink: #323130;
  --actionLinkHovered: #201f1e;
  --BackgroundOverlay: rgba(255, 255, 255, 0.85);
  --backgroundOverlay: rgba(255, 255, 255, 0.85);
  --black: #000000;
  --blackTranslucent40: rgba(0, 0, 0, .4);
  --blockingBackground: #FDE7E9;
  --blockingIcon: #FDE7E9;
  --blue: #0078d4;
  --blueDark: #002050;
  --blueLight: #00bcf2;
  --blueMid: #00188f;
  --bodyBackground: #ffffff;
  --bodyBackgroundChecked: #edebe9;
  --bodyBackgroundHovered: #f3f2f1;
  --bodyDivider: #edebe9;
  --bodyFrameBackground: #ffffff;
  --bodyFrameDivider: #edebe9;
  --bodyStandoutBackground: #faf9f8;
  --bodySubtext: #605e5c;
  --bodyText: #323130;
  --BodyText: #333333;
  --bodyTextChecked: #000000;
  --ButtonBackground: #f8f8f8;
  --buttonBackground: #ffffff;
  --buttonBackgroundChecked: #c8c6c4;
  --buttonBackgroundCheckedHovered: #edebe9;
  --buttonBackgroundDisabled: #f3f2f1;
  --buttonBackgroundHovered: #f3f2f1;
  --buttonBackgroundPressed: #edebe9;
  --buttonBorder: #8a8886;
  --ButtonBorder: #a6a6a6;
  --buttonBorderDisabled: #f3f2f1;
  --ButtonDisabledBackground: #f8f8f8;
  --ButtonDisabledBorder: #eaeaea;
  --ButtonDisabledText: #a6a6a6;
  --ButtonGlyph: #666666;
  --ButtonGlyphActive: #333333;
  --ButtonGlyphDisabled: #c8c8c8;
  --ButtonHoverBackground: #c5e9ea;
  --ButtonHoverBorder: #98d6d8;
  --ButtonPressedBackground: #98d6d8;
  --ButtonPressedBorder: #13898d;
  --buttonText: #323130;
  --ButtonText: #333333;
  --buttonTextChecked: #201f1e;
  --buttonTextCheckedHovered: #000000;
  --buttonTextDisabled: #a19f9d;
  --buttonTextHovered: #201f1e;
  --buttonTextPressed: #201f1e;
  --cardShadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  --cardShadowHovered: 0 0 1px #a19f9d;
  --cardStandoutBackground: #ffffff;
  --CommandLinks: #666666;
  --CommandLinksDisabled: #a6a6a6;
  --CommandLinksHover: #03787c;
  --CommandLinksPressed: #014446;
  --CommandLinksSecondary: #212121;
  --ContentAccent1: #03787c;
  --ContentAccent2: #00485b;
  --ContentAccent3: #288054;
  --ContentAccent4: #767956;
  --ContentAccent5: #ed0033;
  --ContentAccent6: #682a7a;
  --defaultStateBackground: #faf9f8;
  --DialogBorder: #f4f4f4;
  --dialogBorder: #f4f4f4;
  --disabledBackground: #f3f2f1;
  --DisabledBackground: #f8f8f8;
  --disabledBodySubtext: #c8c6c4;
  --disabledBodyText: #a19f9d;
  --disabledBorder: #c8c6c4;
  --DisabledLines: #eaeaea;
  --disabledSubtext: #d2d0ce;
  --disabledText: #a19f9d;
  --DisabledText: #a6a6a6;
  --elevation16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  --elevation4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  --elevation64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  --elevation8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  --EmphasisBackground: #03787c;
  --EmphasisBorder: #025c5f;
  --EmphasisHoverBackground: #025c5f;
  --EmphasisHoverBorder: #014446;
  --EmphasisText: #ffffff;
  --errorBackground: #FDE7E9;
  --errorIcon: #A80000;
  --errorText: #a4262c;
  --focusBorder: #605e5c;
  --FooterBackground: rgba(255, 255, 255, 0.85);
  --green: #107c10;
  --greenDark: #004b1c;
  --greenLight: #bad80a;
  --HeaderAccentLines: #13898d;
  --HeaderBackground: rgba(255, 255, 255, 0.85);
  --HeaderDisabledBackground: #f8f8f8;
  --HeaderDisabledLines: #eaeaea;
  --HeaderDisableText: #a6a6a6;
  --HeaderLines: #a6a6a6;
  --HeaderNavigationHoverText: #03787c;
  --HeaderNavigationPressedText: #014446;
  --HeaderNavigationSelectedText: #03787c;
  --HeaderNavigationText: #666666;
  --HeaderSiteTitle: #212121;
  --HeaderStrongLines: #98d6d8;
  --HeaderSubtleLines: #c8c8c8;
  --HeaderSubtleText: #767676;
  --HeaderText: #333333;
  --HoverBackground: rgba(197, 233, 234, 0.50);
  --Hyperlink: #03787c;
  --HyperlinkActive: #014446;
  --Hyperlinkfollowed: #014446;
  --infoBackground: #f3f2f1;
  --infoIcon: #605e5c;
  --inputBackground: #ffffff;
  --inputBackgroundChecked: #03787c;
  --inputBackgroundCheckedHovered: #025c5f;
  --inputBorder: #605e5c;
  --inputBorderHovered: #323130;
  --inputFocusBorderAlt: #03787c;
  --inputForegroundChecked: #ffffff;
  --inputIcon: #03787c;
  --inputIconDisabled: #a19f9d;
  --inputIconHovered: #025c5f;
  --inputPlaceholderBackgroundChecked: #c5e9ea;
  --inputPlaceholderText: #605e5c;
  --inputText: #323130;
  --inputTextHovered: #201f1e;
  --largeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --largeFontSize: 18px;
  --largeFontWeight: 400;
  --largeMozOsxFontSmoothing: grayscale;
  --largeWebkitFontSmoothing: antialiased;
  --Lines: #a6a6a6;
  --link: #03787c;
  --linkHovered: #014446;
  --listBackground: #ffffff;
  --listHeaderBackgroundHovered: #f3f2f1;
  --listHeaderBackgroundPressed: #edebe9;
  --listItemBackgroundChecked: #edebe9;
  --listItemBackgroundCheckedHovered: #e1dfdd;
  --listItemBackgroundHovered: #f3f2f1;
  --listText: #323130;
  --listTextColor: #323130;
  --magenta: #b4009e;
  --magentaDark: #5c005c;
  --magentaLight: #e3008c;
  --mediumFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --mediumFontSize: 14px;
  --mediumFontWeight: 400;
  --mediumMozOsxFontSmoothing: grayscale;
  --mediumPlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --mediumPlusFontSize: 16px;
  --mediumPlusFontWeight: 400;
  --mediumPlusMozOsxFontSmoothing: grayscale;
  --mediumPlusWebkitFontSmoothing: antialiased;
  --mediumWebkitFontSmoothing: antialiased;
  --megaFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --megaFontSize: 68px;
  --megaFontWeight: 600;
  --megaMozOsxFontSmoothing: grayscale;
  --megaWebkitFontSmoothing: antialiased;
  --menuBackground: #ffffff;
  --menuDivider: #c8c6c4;
  --menuHeader: #03787c;
  --menuIcon: #03787c;
  --menuItemBackgroundChecked: #edebe9;
  --menuItemBackgroundHovered: #f3f2f1;
  --menuItemBackgroundPressed: #edebe9;
  --menuItemText: #323130;
  --menuItemTextHovered: #201f1e;
  --messageLink: #005A9E;
  --messageLinkHovered: #004578;
  --messageText: #323130;
  --Navigation: #666666;
  --NavigationAccent: #03787c;
  --NavigationHover: #03787c;
  --NavigationHoverBackground: rgba(197, 233, 234, 0.50);
  --NavigationPressed: #014446;
  --NavigationSelectedBackground: rgba(234, 234, 234, 0.78);
  --neutralDark: #201f1e;
  --neutralLight: #edebe9;
  --neutralLighter: #f3f2f1;
  --neutralLighterAlt: #faf9f8;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #3b3a39;
  --neutralQuaternary: #d2d0ce;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralSecondary: #605e5c;
  --neutralSecondaryAlt: #8a8886;
  --neutralTertiary: #a19f9d;
  --neutralTertiaryAlt: #c8c6c4;
  --orange: #d83b01;
  --orangeLight: #ea4300;
  --orangeLighter: #ff8c00;
  --PageBackground: #ffffff;
  --primaryBackground: #ffffff;
  --primaryButtonBackground: #03787c;
  --primaryButtonBackgroundDisabled: #f3f2f1;
  --primaryButtonBackgroundHovered: #026d70;
  --primaryButtonBackgroundPressed: #025c5f;
  --primaryButtonBorder: transparent;
  --primaryButtonText: #ffffff;
  --primaryButtonTextDisabled: #d2d0ce;
  --primaryButtonTextHovered: #ffffff;
  --primaryButtonTextPressed: #ffffff;
  --primaryText: #333333;
  --purple: #5c2d91;
  --purpleDark: #32145a;
  --purpleLight: #b4a0ff;
  --red: #e81123;
  --redDark: #a80000;
  --roundedCorner2: 2px;
  --roundedCorner4: 4px;
  --roundedCorner6: 6px;
  --RowAccent: #03787c;
  --SelectionBackground: rgba(152, 214, 216, 0.50);
  --severeWarningBackground: #FED9CC;
  --severeWarningIcon: #D83B01;
  --SiteTitle: #212121;
  --smallFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --smallFontSize: 12px;
  --smallFontWeight: 400;
  --smallInputBorder: #605e5c;
  --smallMozOsxFontSmoothing: grayscale;
  --smallPlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --smallPlusFontSize: 12px;
  --smallPlusFontWeight: 400;
  --smallPlusMozOsxFontSmoothing: grayscale;
  --smallPlusWebkitFontSmoothing: antialiased;
  --smallWebkitFontSmoothing: antialiased;
  --StrongBodyText: #212121;
  --StrongLines: #98d6d8;
  --SubtleBodyText: #767676;
  --SubtleEmphasisBackground: #f4f4f4;
  --SubtleEmphasisCommandLinks: #212121;
  --SubtleEmphasisText: #666666;
  --SubtleLines: #c8c8c8;
  --successBackground: #DFF6DD;
  --successIcon: #107C10;
  --successText: #107C10;
  --SuiteBarBackground: #03787c;
  --suiteBarBackground: #03787c;
  --SuiteBarDisabledText: #eaeaea;
  --suiteBarDisabledText: #eaeaea;
  --SuiteBarHoverBackground: #49aeb1;
  --SuiteBarHoverText: #98d6d8;
  --SuiteBarText: #ffffff;
  --suiteBarText: #ffffff;
  --superLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --superLargeFontSize: 42px;
  --superLargeFontWeight: 600;
  --superLargeMozOsxFontSmoothing: grayscale;
  --superLargeWebkitFontSmoothing: antialiased;
  --teal: #008272;
  --tealDark: #004b50;
  --tealLight: #00b294;
  --themeAccent: #03787c;
  --themeAccentTranslucent10: rgba(3, 120, 124, 0.10);
  --themeDark: #025c5f;
  --themeDarkAlt: #026d70;
  --themeDarker: #014446;
  --themeLight: #98d6d8;
  --themeLighter: #c5e9ea;
  --themeLighterAlt: #f0f9fa;
  --themePrimary: #03787c;
  --themeSecondary: #13898d;
  --themeTertiary: #49aeb1;
  --TileBackgroundOverlay: rgba(0, 0, 0, 0.50);
  --TileText: #ffffff;
  --tinyFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --tinyFontSize: 10px;
  --tinyFontWeight: 400;
  --tinyMozOsxFontSmoothing: grayscale;
  --tinyWebkitFontSmoothing: antialiased;
  --TopBarBackground: rgba(234, 234, 234, 0.78);
  --topBarBackground: rgba(234, 234, 234, 0.78);
  --TopBarHoverText: #333333;
  --topBarHoverText: #333333;
  --TopBarPressedText: #014446;
  --TopBarText: #666666;
  --topBarText: #666666;
  --variantBorder: #edebe9;
  --variantBorderHovered: #a19f9d;
  --warningBackground: #FFF4CE;
  --warningHighlight: #ffb900;
  --warningIcon: #797775;
  --warningText: #323130;
  --WebPartHeading: #333333;
  --white: #ffffff;
  --whiteTranslucent40: rgba(255, 255, 255, 0.40);
  --xLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --xLargeFontSize: 20px;
  --xLargeFontWeight: 600;
  --xLargeMozOsxFontSmoothing: grayscale;
  --xLargePlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --xLargePlusFontSize: 24px;
  --xLargePlusFontWeight: 600;
  --xLargePlusMozOsxFontSmoothing: grayscale;
  --xLargePlusWebkitFontSmoothing: antialiased;
  --xLargeWebkitFontSmoothing: antialiased;
  --xSmallFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --xSmallFontSize: 10px;
  --xSmallFontWeight: 400;
  --xSmallMozOsxFontSmoothing: grayscale;
  --xSmallWebkitFontSmoothing: antialiased;
  --xxLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --xxLargeFontSize: 28px;
  --xxLargeFontWeight: 600;
  --xxLargeMozOsxFontSmoothing: grayscale;
  --xxLargePlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --xxLargePlusFontSize: 32px;
  --xxLargePlusFontWeight: 600;
  --xxLargePlusMozOsxFontSmoothing: grayscale;
  --xxLargePlusWebkitFontSmoothing: antialiased;
  --xxLargeWebkitFontSmoothing: antialiased;
  --yellow: #ffb900;
  --yellowDark: #d29200;
  --yellowLight: #fff100;
}

body {
  font-family: var(--mediumFontFamily);
}

/**** Core Mixing Definition ****/
h1, h2, h3, p {
  font-family: var(--xxLargeFontFamily);
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--BodyText);
}

p {
  font-size: 18px;
  overflow-wrap: break-word;
}

blockquote {
  font-family: Segoe UI Light WestEuropean, Segoe UI Light, Segoe WP Light, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  margin: 1.75rem 0;
  padding: 2rem;
  text-align: center;
  color: #605e5c;
  border-top: 1px solid #edebe9;
  border-bottom: 1px solid #edebe9;
}

.lqd-buttonflyout, .lqd-select-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.lqd-buttoncontext-outer, .lqd-buttonsplit, .lqd-buttonsplit-primary, .lqd-buttonicon-split {
  position: relative;
}

div.lqd-buttoncontext-outer .lqd-buttonflyout, .lqd-buttonsplit .lqd-buttonflyout, .lqd-buttonsplit-primary .lqd-buttonflyout, .lqd-buttonicon-split .lqd-buttonflyout {
  position: absolute;
  z-index: 400;
  top: 100%;
  left: 0;
  display: none;
}

div.show-flyout.lqd-buttoncontext-outer, .show-flyout.lqd-buttonsplit, .show-flyout.lqd-buttonsplit-primary, .show-flyout.lqd-buttonicon-split {
  background-color: inherit;
}

div.show-flyout.lqd-buttoncontext-outer .lqd-buttonflyout, .show-flyout.lqd-buttonsplit .lqd-buttonflyout, .show-flyout.lqd-buttonsplit-primary .lqd-buttonflyout, .show-flyout.lqd-buttonicon-split .lqd-buttonflyout {
  display: block;
}

div.show-flyout.lqd-buttoncontext-outer .lqd-buttonsplit-carret, .show-flyout.lqd-buttonsplit .lqd-buttonsplit-carret, .show-flyout.lqd-buttonsplit-primary .lqd-buttonsplit-carret, .show-flyout.lqd-buttonicon-split .lqd-buttonsplit-carret {
  background-color: var(--buttonBackgroundCheckedHovered);
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-27 0:25:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes deleteSlide {
  0% {
    opacity: 1;
  }
  50% {
    overflow: hidden;
    max-width: 100%;
    opacity: 0;
  }
  100% {
    max-width: 0;
    opacity: 0;
  }
}
@keyframes deleteSlide {
  0% {
    opacity: 1;
  }
  50% {
    overflow: hidden;
    max-width: 100%;
    opacity: 0;
  }
  100% {
    max-width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes addSlide {
  100% {
    opacity: 1;
  }
  50% {
    overflow: hidden;
    max-width: 100%;
    opacity: 0;
  }
  0% {
    max-width: 0;
    opacity: 0;
  }
}

@keyframes addSlide {
  100% {
    opacity: 1;
  }
  50% {
    overflow: hidden;
    max-width: 100%;
    opacity: 0;
  }
  0% {
    max-width: 0;
    opacity: 0;
  }
}

.anim-delete-slide {
  -webkit-animation-name: deleteSlide;
          animation-name: deleteSlide;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-add-slide {
  -webkit-animation-name: addSlide;
          animation-name: addSlide;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/**** ATOMS / Typography ****/
h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

pre {
  white-space: pre-wrap;
  color: #323130;
  background-color: #faf9f8;
  overflow-wrap: break-word;
}

.lqd-fontsize-68 {
  font-size: 4.25rem;
}

.lqd-fontsize-42 {
  font-size: 2.625rem;
}

.lqd-fontsize-32 {
  font-size: 2rem;
}

.lqd-fontsize-28 {
  font-size: 1.75rem;
}

.lqd-fontsize-24 {
  font-size: 1.5rem;
}

.lqd-fontsize-20 {
  font-size: 1.25rem;
}

.lqd-fontsize-18 {
  font-size: 1.125rem;
}

.lqd-fontsize-16 {
  font-size: 1rem;
}

.lqd-fontsize-14 {
  font-size: 0.875rem;
}

.lqd-fontsize-12 {
  font-size: 0.75rem;
}

.lqd-fontsize-10 {
  font-size: 0.625rem;
}

a {
  color: var(--Hyperlink);
}

a:visited {
  color: var(--Hyperlink);
}

a:active {
  color: var(--Hyperlink);
}

a:hover {
  color: var(--Hyperlink);
}

/**** ATOMS / Typography ****/
.lqd-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-grow: 0;
}

.lqd-icon-svg {
  width: 1rem;
  height: 1rem;
  padding: 4px;
  pointer-events: none;
  fill: currentColor;
}

.lqd-icon-svg:hover {
  fill: currentColor;
}

/**** ATOMS / Buttons ****/
.lqd-button-chevron {
  color: var(--buttonText);
}

.lqd-button, .lqd-button-primary, .lqd-buttoncomp-primary, a.lqd-button-primary, .lqd-buttoncomp, a.lqd-button, .lqd-buttonsplit-standard, .lqd-buttonsplit-carret {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  color: var(--buttonText);
  border: 1px var(--buttonBorder) solid;
  border-radius: var(--roundedCorner2);
  outline: none;
  background-color: var(--buttonBackground);
  align-items: center;
  flex-wrap: nowrap;
}

.lqd-button-label, .lqd-buttoncomp-label, .lqd-buttoncomp-primary-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  height: 1.875rem;
  margin: 0 0.25rem;
  align-items: center;
}

.lqd-button:hover, .lqd-button-primary:hover, .lqd-buttoncomp-primary:hover, .lqd-buttoncomp:hover, .lqd-buttonsplit-standard:hover, .lqd-buttonsplit-carret:hover {
  background-color: var(--buttonBackgroundCheckedHovered);
}

.lqd-button:active, .lqd-button-primary:active, .lqd-buttoncomp-primary:active, .lqd-buttoncomp:active, .lqd-buttonsplit-standard:active, .lqd-buttonsplit-carret:active {
  background-color: var(--buttonBackgroundPressed);
}

.lqd-button[disabled], .lqd-button-primary[disabled], .lqd-buttoncomp-primary[disabled], .lqd-buttoncomp[disabled], .lqd-buttonsplit-standard[disabled], .lqd-buttonsplit-carret[disabled], .lqd-button:disabled, .lqd-button-primary:disabled, .lqd-buttoncomp-primary:disabled, .lqd-buttoncomp:disabled, .lqd-buttonsplit-standard:disabled, .lqd-buttonsplit-carret:disabled {
  pointer-events: none;
  color: var(--buttonTextDisabled);
  border-color: var(--buttonBackgroundDisabled);
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-button-primary, .lqd-buttoncomp-primary, a.lqd-button-primary {
  color: var(--primaryButtonText);
  border-color: var(--primaryButtonBackground);
  background-color: var(--primaryButtonBackground);
}

.lqd-button-primary:hover, .lqd-buttoncomp-primary:hover {
  color: var(--primaryButtonTextHovered);
  border-color: var(--primaryButtonBackgroundHovered);
  background-color: var(--primaryButtonBackgroundHovered);
}

.lqd-button-primary:active, .lqd-buttoncomp-primary:active {
  border-color: var(--primaryButtonBackgroundPressed);
  background-color: var(--primaryButtonBackgroundPressed);
}

.lqd-buttoncomp {
  flex-direction: column;
  padding: 1rem 0.75rem;
  align-items: flex-start;
}

.lqd-buttoncomp-label {
  line-height: 1em;
  display: block;
  height: 1em;
  margin: 0;
  margin-bottom: 0.3125rem;
}

.lqd-buttoncomp-desc {
  font-size: 0.625rem;
  font-weight: normal;
}

.lqd-buttoncomp-primary {
  flex-direction: column;
  padding: 1rem 0.75rem;
  align-items: flex-start;
}

.lqd-buttoncomp-primary-label {
  line-height: 1em;
  display: block;
  height: 1em;
  margin: 0;
  margin-bottom: 0.3125rem;
}

.lqd-buttoncomp-primary-desc {
  font-size: 0.625rem;
  font-weight: normal;
}

a.lqd-button-primary, a.lqd-buttoncomp, a.lqd-button, a.lqd-buttonsplit-standard, a.lqd-buttonsplit-carret {
  display: inline-flex;
  width: auto;
  margin-bottom: 1rem;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 1;
}

a.lqd-button-primary *, a.lqd-buttoncomp *, a.lqd-button *, a.lqd-buttonsplit-standard *, a.lqd-buttonsplit-carret * {
  width: auto;
}

a.lqd-button-primary:hover, a.lqd-buttoncomp:hover, a.lqd-button:hover, a.lqd-buttonsplit-standard:hover, a.lqd-buttonsplit-carret:hover {
  color: var(--buttonText);
}

a.lqd-buttoncomp-primary, a.lqd-button-primary {
  display: inline-flex;
  width: auto;
  margin-bottom: 1rem;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 1;
}

a.lqd-buttoncomp-primary:hover, a.lqd-button-primary:hover {
  color: var(--primaryButtonTextHovered);
  border-color: var(--primaryButtonBackgroundHovered);
  background-color: var(--primaryButtonBackgroundHovered);
}

a.lqd-buttoncomp-primary:active, a.lqd-button-primary:active {
  border-color: var(--primaryButtonBackgroundPressed);
  background-color: var(--primaryButtonBackgroundPressed);
}

/* Split Button Slideout Animation
% {
    opacity: 0;
}
100% {
    opacity: 1;
}
0% {
    transform: translate3d(0px, -10px, 0px);
    pointer-events: none;
}
100% {
    transform: translate3d(0px, 0px, 0px);
    pointer-events: auto;
}

*/
.lqd-buttonaction, .lqd-buttoncmd button.lqd-buttoncmd, .lqd-buttoncmdbar button.lqd-buttoncmd, .lqd-buttoncmd button.lqd-buttoncmdbar, .lqd-buttoncmdbar button.lqd-buttoncmdbar, .lqd-buttonicon-split button {
  display: inline-flex;
  height: 2.75rem;
  margin: 0;
  padding: 0 0.25rem;
  white-space: nowrap;
  border: none;
  background-color: var(--buttonBackground);
  align-items: center;
}

.lqd-buttonaction .lqd-button-icon, .lqd-buttoncmd button.lqd-buttoncmd .lqd-button-icon, .lqd-buttoncmdbar button.lqd-buttoncmd .lqd-button-icon, .lqd-buttoncmd button.lqd-buttoncmdbar .lqd-button-icon, .lqd-buttoncmdbar button.lqd-buttoncmdbar .lqd-button-icon, .lqd-buttonicon-split button .lqd-button-icon {
  line-height: 2.25rem;
  display: flex;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--CommandLinksHover);
  align-items: center;
}

.lqd-buttonaction .lqd-button-label, .lqd-buttoncmd button.lqd-buttoncmd .lqd-button-label, .lqd-buttoncmdbar button.lqd-buttoncmd .lqd-button-label, .lqd-buttoncmd button.lqd-buttoncmdbar .lqd-button-label, .lqd-buttoncmdbar button.lqd-buttoncmdbar .lqd-button-label, .lqd-buttonicon-split button .lqd-button-label, .lqd-buttonaction .lqd-buttoncomp-label, .lqd-buttoncmd button.lqd-buttoncmd .lqd-buttoncomp-label, .lqd-buttoncmdbar button.lqd-buttoncmd .lqd-buttoncomp-label, .lqd-buttoncmd button.lqd-buttoncmdbar .lqd-buttoncomp-label, .lqd-buttoncmdbar button.lqd-buttoncmdbar .lqd-buttoncomp-label, .lqd-buttonicon-split button .lqd-buttoncomp-label, .lqd-buttonaction .lqd-buttoncomp-primary-label, .lqd-buttoncmd button.lqd-buttoncmd .lqd-buttoncomp-primary-label, .lqd-buttoncmdbar button.lqd-buttoncmd .lqd-buttoncomp-primary-label, .lqd-buttoncmd button.lqd-buttoncmdbar .lqd-buttoncomp-primary-label, .lqd-buttoncmdbar button.lqd-buttoncmdbar .lqd-buttoncomp-primary-label, .lqd-buttonicon-split button .lqd-buttoncomp-primary-label {
  font-size: 0.875rem;
  line-height: 2.25rem;
  box-sizing: border-box;
  padding: 0 0.25rem;
  white-space: nowrap;
  font-weight: 400;
}

.lqd-buttonaction:hover, .lqd-buttoncmd button.lqd-buttoncmd:hover, .lqd-buttoncmdbar button.lqd-buttoncmd:hover, .lqd-buttoncmd button.lqd-buttoncmdbar:hover, .lqd-buttoncmdbar button.lqd-buttoncmdbar:hover, .lqd-buttonicon-split button:hover {
  color: var(--CommandLinksHover);
}

.lqd-buttonaction:active, .lqd-buttoncmd button.lqd-buttoncmd:active, .lqd-buttoncmdbar button.lqd-buttoncmd:active, .lqd-buttoncmd button.lqd-buttoncmdbar:active, .lqd-buttoncmdbar button.lqd-buttoncmdbar:active, .lqd-buttonicon-split button:active {
  color: inherit;
}

.lqd-buttonaction:active .lqd-buttonaction-icon, .lqd-buttoncmd button.lqd-buttoncmd:active .lqd-buttonaction-icon, .lqd-buttoncmdbar button.lqd-buttoncmd:active .lqd-buttonaction-icon, .lqd-buttoncmd button.lqd-buttoncmdbar:active .lqd-buttonaction-icon, .lqd-buttoncmdbar button.lqd-buttoncmdbar:active .lqd-buttonaction-icon, .lqd-buttonicon-split button:active .lqd-buttonaction-icon {
  color: var(--CommandLinksPressed);
}

.lqd-buttoncmd, .lqd-buttoncmdbar {
  position: relative;
}

.lqd-buttoncmd button.lqd-buttoncmd .lqd-buttonchevron, .lqd-buttoncmdbar button.lqd-buttoncmd .lqd-buttonchevron, .lqd-buttoncmd button.lqd-buttoncmdbar .lqd-buttonchevron, .lqd-buttoncmdbar button.lqd-buttoncmdbar .lqd-buttonchevron {
  color: var(--buttonText);
}

.lqd-buttoncmd button.lqd-buttoncmd > *, .lqd-buttoncmdbar button.lqd-buttoncmd > *, .lqd-buttoncmd button.lqd-buttoncmdbar > *, .lqd-buttoncmdbar button.lqd-buttoncmdbar > * {
  pointer-events: none;
}

.lqd-buttoncmd button.lqd-buttoncmd:focus, .lqd-buttoncmdbar button.lqd-buttoncmd:focus, .lqd-buttoncmd button.lqd-buttoncmdbar:focus, .lqd-buttoncmdbar button.lqd-buttoncmdbar:focus {
  outline: none;
}

.lqd-buttoncmd .lqd-buttonflyout, .lqd-buttoncmdbar .lqd-buttonflyout {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.lqd-buttoncmd .lqd-buttonflyout > *, .lqd-buttoncmdbar .lqd-buttonflyout > * {
  pointer-events: all;
}

.lqd-buttoncmd .lqd-buttonflyout .lqd-buttoncontext, .lqd-buttoncmdbar .lqd-buttonflyout .lqd-buttoncontext {
  display: flex;
}

.lqd-buttoncmd.show-flyout .lqd-buttonflyout, .show-flyout.lqd-buttoncmdbar .lqd-buttonflyout {
  display: flex;
}

.lqd-buttonflyout {
  display: inline-block;
  flex-direction: column;
  border: 1px var(--buttonBorder);
  background-color: var(--bodyBackground);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.132), 0 0.4px 1.2px 0 rgba(0, 0, 0, 0.108);
  z-index: 400;
}

.lqd-buttonflyout .lqd-buttonaction, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar, .lqd-buttonflyout .lqd-buttonicon-split button, .lqd-buttonicon-split .lqd-buttonflyout button {
  width: 100%;
  height: auto;
  min-height: 2.25rem;
  padding-right: 3rem;
}

.lqd-buttonflyout .lqd-buttonaction:hover, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd:hover, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd:hover, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd:hover, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd:hover, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar:hover, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar:hover, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar:hover, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar:hover, .lqd-buttonflyout .lqd-buttonicon-split button:hover, .lqd-buttonicon-split .lqd-buttonflyout button:hover {
  background-color: var(--buttonBackgroundHovered);
}

.lqd-buttonflyout .lqd-buttonaction:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd:hover .lqd-button-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd:hover .lqd-button-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar:hover .lqd-button-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar:hover .lqd-button-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttonicon-split button:hover .lqd-button-label, .lqd-buttonicon-split .lqd-buttonflyout button:hover .lqd-button-label, .lqd-buttonflyout .lqd-buttonaction:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd:hover .lqd-buttoncomp-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd:hover .lqd-buttoncomp-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar:hover .lqd-buttoncomp-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar:hover .lqd-buttoncomp-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttonicon-split button:hover .lqd-buttoncomp-label, .lqd-buttonicon-split .lqd-buttonflyout button:hover .lqd-buttoncomp-label, .lqd-buttonflyout .lqd-buttonaction:hover .lqd-buttoncomp-primary-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd:hover .lqd-buttoncomp-primary-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-buttoncomp-primary-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd:hover .lqd-buttoncomp-primary-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd:hover .lqd-buttoncomp-primary-label, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar:hover .lqd-buttoncomp-primary-label, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-buttoncomp-primary-label, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar:hover .lqd-buttoncomp-primary-label, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar:hover .lqd-buttoncomp-primary-label, .lqd-buttonflyout .lqd-buttonicon-split button:hover .lqd-buttoncomp-primary-label, .lqd-buttonicon-split .lqd-buttonflyout button:hover .lqd-buttoncomp-primary-label {
  color: var(--buttonText);
}

.lqd-buttonflyout .lqd-buttonaction:active, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmd:active, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmd:active, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmd:active, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmd:active, .lqd-buttonflyout .lqd-buttoncmd button.lqd-buttoncmdbar:active, .lqd-buttoncmd .lqd-buttonflyout button.lqd-buttoncmdbar:active, .lqd-buttonflyout .lqd-buttoncmdbar button.lqd-buttoncmdbar:active, .lqd-buttoncmdbar .lqd-buttonflyout button.lqd-buttoncmdbar:active, .lqd-buttonflyout .lqd-buttonicon-split button:active, .lqd-buttonicon-split .lqd-buttonflyout button:active {
  color: var(--buttonTextPressed);
}

.lqd-buttonflyout-item {
  display: block;
  width: auto;
}

div.lqd-buttoncontext-outer {
  position: relative;
}

.lqd-buttoncontext {
  display: inline-flex;
  box-sizing: border-box;
  height: 2rem;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
  border: none;
  border: 1px var(--buttonBorder) solid;
  border-radius: 2px;
  background-color: var(--buttonBackground);
  align-items: center;
}

.lqd-buttoncontext > * {
  pointer-events: none;
}

.lqd-buttoncontext-icon {
  line-height: 2.25rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 1.5rem;
  align-items: center;
}

.lqd-buttoncontext-icon svg {
  padding: 0 0.25rem;
}

.lqd-buttoncontext-label {
  font-size: 0.875rem;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 0 0.25rem;
  white-space: nowrap;
}

.lqd-buttoncontext .lqd-buttonchevron {
  padding: 0 0.25rem;
}

.lqd-buttoncontext .lqd-buttonchevron svg {
  width: 0.75rem;
  height: 0.75rem;
}

.lqd-buttoncontext:hover {
  background-color: var(--buttonBackgroundHovered);
}

.lqd-buttoncontext:active {
  color: var(--buttonTextPressed);
}

.lqd-buttonicon {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  padding: 0.25rem;
  border: none;
  outline: none;
  background-color: transparent;
  align-items: center;
}

.lqd-buttonicon svg {
  width: 16px;
  height: 16px;
}

.lqd-buttonicon:hover {
  background-color: var(--buttonBackgroundHovered);
}

.lqd-buttonicon:active {
  background-color: var(--buttonBackgroundPressed);
}

.lqd-buttonsplit, .lqd-buttonsplit-primary {
  display: flex;
}

.lqd-buttonsplit-standard {
  margin: 0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.lqd-buttonsplit-standard[disabled], .lqd-buttonsplit-standard:disabled {
  pointer-events: none;
  color: var(--buttonTextDisabled);
  border-color: var(--buttonBackgroundDisabled);
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-buttonsplit-carret {
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--buttonText);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lqd-buttonsplit-carret .lqd-button-label, .lqd-buttonsplit-carret .lqd-buttoncomp-label, .lqd-buttonsplit-carret .lqd-buttoncomp-primary-label {
  font-weight: inherit;
  line-height: 1;
  height: auto;
  margin: 0;
  padding: 0.125rem 0.375rem;
  color: inherit;
  border-left: 1px currentColor solid;
}

.lqd-buttonsplit-carret .lqd-icon {
  height: 16px;
}

.lqd-buttonsplit-carret > * {
  pointer-events: none;
}

.lqd-buttonsplit-carret[disabled], .lqd-buttonsplit-carret:disabled {
  pointer-events: none;
  color: var(--buttonTextDisabled);
  border-color: var(--buttonBackgroundDisabled);
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-buttonsplit .lqd-buttonflyout, .lqd-buttonsplit-primary .lqd-buttonflyout {
  position: absolute;
  top: 100%;
  display: none;
}

.lqd-buttonsplit.show-flyout .lqd-buttonflyout, .show-flyout.lqd-buttonsplit-primary .lqd-buttonflyout {
  display: block;
}

.lqd-buttonsplit-primary .lqd-buttonsplit-standard,
.lqd-buttonsplit-primary .lqd-buttonsplit-carret {
  color: var(--primaryButtonText);
  border-color: var(--primaryButtonBackground);
  background-color: var(--primaryButtonBackground);
}

.lqd-buttonsplit-primary .lqd-buttonsplit-standard .lqd-button-label, .lqd-buttonsplit-primary .lqd-buttonsplit-standard .lqd-buttoncomp-label, .lqd-buttonsplit-primary .lqd-buttonsplit-standard .lqd-buttoncomp-primary-label,
.lqd-buttonsplit-primary .lqd-buttonsplit-carret .lqd-button-label,
.lqd-buttonsplit-primary .lqd-buttonsplit-carret .lqd-buttoncomp-label,
.lqd-buttonsplit-primary .lqd-buttonsplit-carret .lqd-buttoncomp-primary-label {
  color: currentColor;
}

.lqd-buttonsplit-primary .lqd-buttonsplit-standard[disabled], .lqd-buttonsplit-primary .lqd-buttonsplit-standard:disabled,
.lqd-buttonsplit-primary .lqd-buttonsplit-carret[disabled],
.lqd-buttonsplit-primary .lqd-buttonsplit-carret:disabled {
  pointer-events: none;
  color: var(--buttonTextDisabled);
  border-color: var(--buttonBackgroundDisabled);
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-buttonsplit-primary.show-flyout .lqd-buttonsplit-carret {
  border-color: var(--primaryButtonBackgroundPressed);
  background-color: var(--primaryButtonBackgroundPressed);
}

.lqd-buttonicon-split {
  display: flex;
  height: 2rem;
}

.lqd-buttonicon-split button {
  height: 2rem;
  margin-right: 0;
}

.lqd-buttonicon-split button:active {
  background-color: var(--buttonBackgroundChecked);
}

.lqd-buttonicon-split button:hover {
  background-color: var(--buttonBackgroundCheckedHovered);
}

.lqd-buttonicon-split .lqd-buttonchevron {
  border-left: 1px var(--ButtonBorder) solid;
}

.lqd-buttonicon-split .lqd-buttonchevron .lqd-icon {
  width: 1rem;
  height: 1rem;
  padding: .5rem;
}

.lqd-buttonicon-split .lqd-buttonicon-flyout {
  height: 2rem;
  margin-left: 0;
  padding-left: 0;
}

.lqd-buttonicon-split .lqd-buttonicon-flyout > * {
  pointer-events: none;
}

.lqd-buttoncmdbar {
  display: inline-flex;
  justify-content: center;
  height: 2.75rem;
  border: 1px transparent solid;
  align-items: center;
}

.lqd-buttoncmdbar button.lqd-buttoncmdbar {
  box-sizing: border-box;
  background-color: transparent;
}

.lqd-buttoncmdbar button.lqd-buttoncmdbar > * {
  pointer-events: none;
}

.lqd-buttoncmdbar button.lqd-buttoncmdbar:active {
  background-color: var(--buttonBackgroundChecked);
}

.lqd-buttoncmdbar .lqd-button-label, .lqd-buttoncmdbar .lqd-buttoncomp-label, .lqd-buttoncmdbar .lqd-buttoncomp-primary-label {
  color: black;
}

.lqd-buttoncmdbar:hover,
.lqd-buttoncmdbar .show-flyout {
  border: 1px var(--buttonBackgroundCheckedHovered) solid;
  background-color: var(--buttonBackgroundCheckedHovered);
}

/**** ATOMS / Buttons ****/
.lqd-label {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.3125rem 0;
  color: var(--bodyText);
}

.lqd-label.is-disabled {
  color: var(--disabledText);
}

.lqd-label.is-required:after {
  display: inline-block;
  padding-left: .25em;
  padding-right: 0.75rem;
  content: "*";
  color: var(--errorText);
}

.lqd-input-text {
  font-size: 0.875rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  width: auto;
  padding: 0 0.5rem;
  border: 1px var(--inputBorder) solid;
  border-radius: 2px;
  outline: 1px rgba(255, 255, 255, 0) solid;
}

.lqd-input-text:focus {
  line-height: calc(1.9rem - 2px);
  padding: 0 0.4375rem;
  border: 2px var(--inputFocusBorderAlt) solid;
  outline: 0 rgba(255, 255, 255, 0) solid;
}

.lqd-input-text.is-invalid, .lqd-input-text:invalid {
  border-color: var(--errorText);
}

.lqd-input-text:disabled {
  color: var(--buttonTextDisabled);
  border-color: var(--buttonBorderDisabled);
  background-color: var(--disabledBackground);
}

.lqd-input-text[data-prefix] {
  padding-left: 0.5rem;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lqd-input-text[data-suffix] {
  padding-right: 0.5rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.lqd-input-prefix {
  font-size: 0.875rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  width: auto;
  padding: 0 0.5rem;
  border: 1px var(--inputBorder) solid;
  border-radius: 2px;
  outline: 1px rgba(255, 255, 255, 0) solid;
  display: inline-block;
  box-sizing: border-box;
  color: var(--BodyText);
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-input-suffix {
  font-size: 0.875rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  width: auto;
  padding: 0 0.5rem;
  border: 1px var(--inputBorder) solid;
  border-radius: 2px;
  outline: 1px rgba(255, 255, 255, 0) solid;
  display: inline-block;
  box-sizing: border-box;
  color: var(--BodyText);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--buttonBackgroundDisabled);
}

.lqd-input-group {
  display: flex;
}

.lqd-input-group:focus-within > * {
  line-height: calc(1.9rem - 2px);
  padding: 0 0.4375rem;
  border-width: 2px;
  border-color: var(--inputFocusBorderAlt);
}

.lqd-input-group:focus-within .lqd-input-text {
  padding: 0 0.5rem;
}

.lqd-input-group:focus-within .lqd-input-suffix {
  padding-right: 0.4375rem;
  padding-left: 0.5rem;
}

.lqd-input-group:focus-within .lqd-input-prefix {
  padding-right: 0.5rem;
  padding-left: 0.4375rem;
}

.lqd-checkbox {
  position: absolute;
  opacity: 0;
}

.lqd-checkbox + label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  top: 2px;
  padding: 0;
  cursor: pointer;
}

.lqd-checkbox + label:before {
  position: relative;
  top: -1px;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
  content: "";
  transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
  transition-duration: 200ms;
  transition-property: background, border, border-color;
  vertical-align: text-top;
  border: 1px var(--buttonBorder) solid;
  border-radius: 2px;
  background: white;
  align-items: center;
}

.lqd-checkbox:active + label:before {
  border-color: var(--primaryButtonBackgroundPressed);
  background: var(--primaryButtonBackgroundPressed);
}

.lqd-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.lqd-checkbox:hover + label:after,
.lqd-checkbox:checked + label:after {
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  width: 0.125rem;
  height: 0.125rem;
  content: "";
  transform: rotate(45deg);
  background: var(--inputIcon);
  box-shadow: 2px 0 0 var(--inputIcon), 4px 0 0 var(--inputIcon), 4px -2px 0 var(--inputIcon), 4px -4px 0 var(--inputIcon), 4px -6px 0 var(--inputIcon), 4px -8px 0 var(--inputIcon);
}

.lqd-checkbox:active:hover + label:after {
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  width: 0.125rem;
  height: 0.125rem;
  content: "";
  transform: rotate(45deg);
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
}

.lqd-checkbox:disabled + label {
  cursor: auto;
  pointer-events: none;
  color: var(--disabledText);
}

.lqd-checkbox:disabled + label > * {
  pointer-events: none;
}

.lqd-checkbox:disabled + label:hover > * {
  pointer-events: none;
}

.lqd-checkbox:disabled + label:before {
  pointer-events: none;
  border-color: var(--disabledBorder);
  box-shadow: none;
}

.lqd-checkbox:disabled + label:after {
  pointer-events: none;
  border-color: var(--disabledBorder);
  box-shadow: none;
}

/*** TODO: Hover Style ***/
.lqd-radio:checked, .lqd-radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.lqd-radio:checked + label,
.lqd-radio:not(:checked) + label {
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding-left: 28px;
  cursor: pointer;
  color: var(--bodyText);
  font-size: 0.875rem;
}

.lqd-radio:checked + label:before,
.lqd-radio:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  content: "";
  border: 1px var(--buttonBorder) solid;
  border-radius: 100%;
  background: #fff;
}

.lqd-radio:checked + label:after,
.lqd-radio:not(:checked) + label:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  content: "";
  transition: all .2s ease;
  border-radius: 100%;
  background: var(--primaryButtonBackground);
}

.lqd-radio:checked:hover + label:after,
.lqd-radio:not(:checked):hover + label:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  content: "";
  transition: all .2s ease;
  border-radius: 100%;
  background: var(--buttonBorder);
}

.lqd-radio:not(:checked) + label:after {
  transform: scale(0);
  opacity: 0;
}

.lqd-radio:checked + label:after {
  transform: scale(1);
  opacity: 1;
}

.lqd-radio:disabled + label {
  color: var(--disabledText);
}

.lqd-radio:disabled + label:before {
  border-color: var(--disabledText);
}

.lqd-select {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px var(--inputBorder) solid;
  border-radius: 2px;
  outline: 1px rgba(255, 255, 255, 0) solid;
}

.lqd-select-text {
  font-size: 0.875rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  width: auto;
  padding: 0 0.5rem;
  border: 1px var(--inputBorder) solid;
  border-radius: 2px;
  outline: 1px rgba(255, 255, 255, 0) solid;
  width: calc(100% - 2rem);
  border: none;
}

.lqd-select-dropdown {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.132), 0 0.4px 1.2px 0 rgba(0, 0, 0, 0.108);
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1px;
  background-color: var(--bodyBackground);
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
}

.lqd-select-dropdown li {
  font-size: 14px;
  display: flex;
  height: 2.25rem;
  padding: 0 0.5rem;
  color: var(--buttonText);
  align-items: center;
}

.lqd-select-dropdown li:hover {
  cursor: pointer;
  background-color: var(--buttonBackgroundHovered);
}

/**** ATOMS / Error ****/
.lqd-error {
  color: var(--errorText);
  font-size: 0.75rem;
}

.lqd-success {
  color: var(--successText);
  font-size: 0.75rem;
}

/**** Tooltip ****/
.lqd-tooltip {
  font-size: var(--smallFontSize);
  z-index: 100;
  display: block;
  margin: 0;
  word-wrap: break-word;
  opacity: 0;
}

.lqd-tooltip.show {
  opacity: 0.9;
}

.lqd-tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.lqd-tooltip .arrow::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-color: transparent;
}

.lqd-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0;
}

.lqd-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 0;
  left: calc(50% - 12.8px);
}

.lqd-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: white;
}

.lqd-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem;
}

.lqd-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.lqd-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: white;
}

.lqd-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0;
}

.lqd-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.lqd-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: white;
}

.lqd-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem;
}

.lqd-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.lqd-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: white;
}

.lqd-tooltip-content {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--black);
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.132), 0 0.8px 2.4px 0 rgba(0, 0, 0, 0.108);
}

/**** ATOMS / Grid ****/
.lqd-grid {
  box-sizing: border-box;
  border: 1px silver solid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto 0.5rem;
  /* > 1366 pixel */
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  /* < 1366 pixel */
  /* <= 640 pixel */
}

@media screen and (max-width: 1366px) {
  .lqd-grid {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lqd-grid {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
  }
}

.demo-item,
.demo-item2 {
  display: flex;
  box-sizing: border-box;
  padding: 2rem;
  background-color: pink;
}

.demo-item {
  grid-column: auto/span 4;
  grid-row: auto;
  /* media query for small devices */
}

@media screen and (max-width: 640px) {
  .demo-item {
    grid-column: 1 / span 12;
    grid-row: auto;
  }
}

.demo-item2 {
  grid-column: 7/span 6;
  grid-row: 2;
  /* media query for small devices */
}

@media screen and (max-width: 640px) {
  .demo-item2 {
    grid-column: 1 / span 12;
    grid-row: auto;
  }
}

/**** Elevation ****/
.lqd-elevation4 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.132), 0 0.4px 1.2px 0 rgba(0, 0, 0, 0.108);
}

.lqd-elevation8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.132), 0 0.8px 2.4px 0 rgba(0, 0, 0, 0.108);
}

.lqd-elevation16 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.132), 0 1.6px 4.8px 0 rgba(0, 0, 0, 0.108);
}

.lqd-elevation64 {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.132), 0 6.4px 19.2px 0 rgba(0, 0, 0, 0.108);
}

/*** MOLECULES ***/
.lqd-dlgheader {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 1.25rem;
}

.lqd-dlgheader-title {
  font-size: 1.25rem;
}

.lqd-dlgheader-title h2 {
  font-size: inherit;
  margin: 0;
}

.lqd-dlgheader-closer button > * {
  pointer-events: none;
}

.lqd-dlgcontent {
  padding: 0 1.25rem 1rem;
}

.lqd-webpart-header {
  margin: 0 2rem 1rem 0;
  text-overflow: ellipsis;
}

.lqd-webpart-header div {
  outline: none;
  color: var(--bodyText);
}

.lqd-webpart-header div:empty[contenteditable="false"]::before {
  content: attr(placeholder);
}

.lqd-webpart-header div:empty[contenteditable="true"]:before {
  content: attr(placeholder);
  color: var(--disabledBodyText);
}

.lqd-webpart-header div:hover {
  cursor: text;
}

/*** ORGANISM ***/
.lqd-mdldialog-outer {
  position: fixed;
  top: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--backgroundOverlay);
  transition: all 5s ease-in;
  align-items: center;
  -webkit-backdrop-filter: blur(5px) saturate(150%);
          backdrop-filter: blur(5px) saturate(150%);
}

.lqd-mdldialog-outer.is-error {
  background-color: rgba(168, 0, 0, 0.6);
}

.lqd-mdldialog-outer.is-warning {
  background-color: rgba(237, 181, 30, 0.6);
}

.lqd-mdldialog-outer.is-success {
  background-color: rgba(16, 124, 16, 0.6);
}

.lqd-mdldialog-outer.is-hidden:not([class*="is-sidebar"]) {
  visibility: hidden;
  transition-delay: 10s;
  opacity: 0;
  transition: all 5s ease-in;
}

.lqd-mdldialog-outer.is-hidden:not([class*="is-sidebar"]) .lqd-mdldialog {
  transform: scale(0);
  transition: all 5s ease-in;
}

.lqd-mdldialog-outer.is-visible:not([class*="is-sidebar"]) {
  visibility: visible;
  opacity: 1;
  transition: all 5s ease-out;
}

.lqd-mdldialog-outer.is-visible:not([class*="is-sidebar"]) .lqd-mdldialog {
  transition-delay: 10s;
  transform: scale(1);
  opacity: 1;
  transition: all 5s ease-out;
}

.lqd-mdldialog-outer.is-hidden[class*="is-sidebar"] {
  transition-delay: 10s;
  opacity: 0;
  transition: all 5s ease-in;
}

.lqd-mdldialog-outer.is-hidden[class*="is-sidebar"] .lqd-mdldialog {
  transition: all 5s ease-in;
}

.lqd-mdldialog-outer.is-visible[class*="is-sidebar"] {
  transition: all 5s ease-out;
  opacity: 1;
  visibility: visible;
}

.lqd-mdldialog-outer.is-visible[class*="is-sidebar"] .lqd-mdldialog {
  transition-delay: 10s;
  transform: scaleY(1);
  transition: all 5s ease-out;
}

.lqd-mdldialog {
  width: var(--lqdDialogWidth);
  height: var(--lqdDialogHeight);
  transform: scale(1);
  opacity: 1;
  background-color: var(--bodyBackground);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.132), 0 1.6px 4.8px 0 rgba(0, 0, 0, 0.108);
}

.lqd-mdldialog-outer.is-sidebar-left {
  justify-content: flex-end;
}

.lqd-mdldialog-outer.is-sidebar-left .lqd-mdldialog {
  position: absolute;
  left: 0;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: left top;
}

.lqd-mdldialog-outer.is-sidebar-right {
  justify-content: flex-start;
}

.lqd-mdldialog-outer.is-sidebar-right .lqd-mdldialog {
  position: absolute;
  right: 0;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: top right;
  opacity: 1;
}
