.pl-iconsearch {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;

	box-sizing: border-box;
	padding: 1rem 5vw 1.5rem;

	background-color: $neutral-000;
}

.pl-iconinfo {}

.pl-icongrid {
	display: grid;

	max-width: 90vw;
	margin: 0 auto;

	gap: 1rem 1rem;
	grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
}

.object-embedd {
	overflow: hidden;

	width: 0;
	height: 0;
}

.pl-svg-symbol {
	box-sizing: border-box;
	padding: .5rem;

	border: 1px transparent solid;
	border-radius: 0.24rem;
	display: block;
	transition: all 0.125s ease-in-out;
	fill: currentColor;

	&:hover {
		background-color: $theme-200;
		transform: scale(1.5);
	}

	&.hidden {
		display: none;
	}
}