<div class="lqd-mdldialog" style="--mdlHeight: 30vh; --mdlWidth: 60vw;">
    {{> molecules-dialog-header title=modalDialogTitle iconAction=iconAction }}
    {{> molecules-dialog-content content=content }}
</div>