<!--- ▼▼▼ This DIV below is just to show a background and is not part of the dialog framework ▼▼▼ -->
<div style="background-image: url(../../images/background-2.jpg); min-height: 100vh; max-height: 100vw;">
    <!--- ▲▲▲ This DIV below is just to show a background and is not part of the dialog framework ▲▲▲ -->
    <div class="lqd-mdldialog-outer is-sidebar-right">
        <div class="lqd-mdldialog" style="--width: 40vw">
            {{> molecules-dialog-header title=modalDialogTitle iconAction=iconAction }}
            {{> molecules-dialog-content content=content }}
        </div>
    </div>
    <!--- ▼▼▼ This DIV below is just to show a background and is not part of the dialog framework ▼▼▼ -->
</div>
<!--- ▲▲▲ This DIV below is just to show a background and is not part of the dialog framework ▲▲▲ -->