.hoo-dlgheader{
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
	padding: px2rem(16px) px2rem(20px);
}
.hoo-dlgheader-title{
	font-size: px2rem(20px);
	h2{
		font-size: inherit;

		margin: 0;
	}
}
.hoo-dlgheader-closer{
	// no special design adoptions needed;
	button{
		& > *{
			pointer-events: none;
		}
	}
}