<style>
    [role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
  visibility: hidden;
  position: absolute;
  top: 1.5rem;
  left: 5rem;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
}
</style>

<label for="password">Password:</label>
<input aria-describedby="passwordrules" id="password" type="password" />
{{> atoms-tooltip }}