<div class="hoo-cardfooter">
    {{>atoms-avatar }}
    <div class="hoo-cardfooter-data">
        <div class="hoo-cardfooter-name">{{ card-footer-name }}</div>
        <div class="hoo-cardfooter-modified">{{ card-footer-modified }}</div>
    </div>
</div>