.lqd-avatar-pres{
	position: relative;

	display: inline-block;

	width: 128px;
	height: 128px;

	transform: rotate(45deg);
	transform-origin: center center;
	div[class^=lqd-avatar]{
		transform: rotate(-45deg);
		transform-origin: center center;
	}
	.lqd-presence{
		position: absolute;
		top: calc(50% - .5rem);
		left: calc(100% - .5rem);
	}
}

.lqd-avatar-pres-16{
	@extend .lqd-avatar-pres;

	width: 16px;
	height: 16px;
}
.lqd-avatar-pres-24{
	@extend .lqd-avatar-pres;

	width: 24px;
	height: 24px;
}
.lqd-avatar-pres-32{
	@extend .lqd-avatar-pres;

	width: 32px;
	height: 32px;
}
.lqd-avatar-pres-40{
	@extend .lqd-avatar-pres;

	width: 40px;
	height: 40px;
}
.lqd-avatar-pres-48{
	@extend .lqd-avatar-pres;

	width: 48px;
	height: 48px;
}
.lqd-avatar-pres-64{
	@extend .lqd-avatar-pres;

	width: 64px;
	height: 64px;
}