<div>
    <a href="?" class="lqd-button" role="button">
        <div class="lqd-button-label">Standard</div>
    </a>
    <br>
    <a href="?" class="lqd-button-primary" role="button">
        <div class="lqd-button-label">Primary</div>
    </a>
    <br>
    <a href="?" class="lqd-buttoncomp" role="button">
        <div class="lqd-buttoncomp-label">Standard</div>
        <div class="lqd-buttoncomp-desc">Standard with description</div>
    </a>
    <br>
    <a href="?" class="lqd-buttoncomp-primary" role="button">
        <div class="lqd-buttoncomp-label">Primary</div>
        <div class="lqd-buttoncomp-desc">Primary with description</div>
    </a>
    <br>
    <a href="?" class="lqd-buttoncomp" disabled="true" role="button" aria-disabled="true">
        <div class="lqd-buttoncomp-label">Std Disabled</div>
        <div class="lqd-buttoncomp-desc">Standard with description</div>
    </a>
    <br>
    <a href="?" class="lqd-buttoncomp-primary" disabled="true" role="button" aria-disabled="true">
        <div class="lqd-buttoncomp-label">Prim Diabled</div>
        <div class="lqd-buttoncomp-desc">Primary with description</div>
    </a>
</div>