:root{ 
        --themeDarker:#37385d;
--themeDark:#4a4c7e;
--themeDarkAlt:#585a95;
--themePrimary:#6264a7;
--themeSecondary:#7173b0;
--themeTertiary:#989ac9;
--themeLight:#c8c9e4;
--themeLighter:#e1e1f1;
--themeLighterAlt:#f7f7fb;
--black:#f8f8f8;
--blackTranslucent40:rgba(0,0,0,.4);
--neutralDark:#f4f4f4;
--neutralPrimary:#ffffff;
--neutralPrimaryAlt:#dadada;
--neutralSecondary:#d0d0d0;
--neutralSecondaryAlt:#8a8886;
--neutralTertiary:#c8c8c8;
--neutralTertiaryAlt:#181818;
--neutralQuaternary:#191919;
--neutralQuaternaryAlt:#1a1a1a;
--neutralLight:#1c1c1c;
--neutralLighter:#1d1d1d;
--neutralLighterAlt:#1e1e1e;
--accent:#6264a7;
--white:#1f1f1f;
--whiteTranslucent40:rgba(255,255,255,.4);
--yellowDark:#d29200;
--yellow:#ffb900;
--yellowLight:#fff100;
--orange:#d83b01;
--orangeLight:#ea4300;
--orangeLighter:#ff8c00;
--redDark:#a4262c;
--red:#e81123;
--magentaDark:#5c005c;
--magenta:#b4009e;
--magentaLight:#e3008c;
--purpleDark:#32145a;
--purple:#5c2d91;
--purpleLight:#b4a0ff;
--blueDark:#002050;
--blueMid:#00188f;
--blue:#0078d4;
--blueLight:#00bcf2;
--tealDark:#004b50;
--teal:#008272;
--tealLight:#00b294;
--greenDark:#004b1c;
--green:#107c10;
--greenLight:#bad80a;
--bodyBackground:#1f1f1f;
--bodyFrameBackground:#1f1f1f;
--accentButtonText:#1f1f1f;
--buttonBackground:#1f1f1f;
--primaryButtonText:#1f1f1f;
--primaryButtonTextHovered:#1f1f1f;
--primaryButtonTextPressed:#1f1f1f;
--inputBackground:#1f1f1f;
--inputForegroundChecked:#1f1f1f;
--listBackground:#1f1f1f;
--menuBackground:#1f1f1f;
--cardStandoutBackground:#1f1f1f;
--bodyTextChecked:#f8f8f8;
--buttonTextCheckedHovered:#f8f8f8;
--link:#6264a7;
--primaryButtonBackground:#6264a7;
--inputBackgroundChecked:#6264a7;
--inputIcon:#6264a7;
--inputFocusBorderAlt:#6264a7;
--menuIcon:#6264a7;
--menuHeader:#6264a7;
--accentButtonBackground:#6264a7;
--primaryButtonBackgroundPressed:#4a4c7e;
--inputBackgroundCheckedHovered:#4a4c7e;
--inputIconHovered:#4a4c7e;
--linkHovered:#37385d;
--primaryButtonBackgroundHovered:#585a95;
--inputPlaceholderBackgroundChecked:#e1e1f1;
--bodyBackgroundChecked:#1c1c1c;
--bodyFrameDivider:#1c1c1c;
--bodyDivider:#1c1c1c;
--variantBorder:#1c1c1c;
--buttonBackgroundCheckedHovered:#1c1c1c;
--buttonBackgroundPressed:#1c1c1c;
--listItemBackgroundChecked:#1c1c1c;
--listHeaderBackgroundPressed:#1c1c1c;
--menuItemBackgroundPressed:#1c1c1c;
--menuItemBackgroundChecked:#1c1c1c;
--bodyBackgroundHovered:#1d1d1d;
--buttonBackgroundHovered:#1d1d1d;
--buttonBackgroundDisabled:#1d1d1d;
--buttonBorderDisabled:#1d1d1d;
--primaryButtonBackgroundDisabled:#1d1d1d;
--disabledBackground:#1d1d1d;
--listItemBackgroundHovered:#1d1d1d;
--listHeaderBackgroundHovered:#1d1d1d;
--menuItemBackgroundHovered:#1d1d1d;
--primaryButtonTextDisabled:#191919;
--disabledSubtext:#191919;
--listItemBackgroundCheckedHovered:#1a1a1a;
--disabledBodyText:#c8c8c8;
--variantBorderHovered:#c8c8c8;
--buttonTextDisabled:#c8c8c8;
--inputIconDisabled:#c8c8c8;
--disabledText:#c8c8c8;
--bodyText:#ffffff;
--actionLink:#ffffff;
--buttonText:#ffffff;
--inputBorderHovered:#ffffff;
--inputText:#ffffff;
--listText:#ffffff;
--menuItemText:#ffffff;
--bodyStandoutBackground:#1e1e1e;
--defaultStateBackground:#1e1e1e;
--actionLinkHovered:#f4f4f4;
--buttonTextHovered:#f4f4f4;
--buttonTextChecked:#f4f4f4;
--buttonTextPressed:#f4f4f4;
--inputTextHovered:#f4f4f4;
--menuItemTextHovered:#f4f4f4;
--bodySubtext:#d0d0d0;
--focusBorder:#d0d0d0;
--inputBorder:#d0d0d0;
--smallInputBorder:#d0d0d0;
--inputPlaceholderText:#d0d0d0;
--buttonBorder:#8a8886;
--disabledBodySubtext:#181818;
--disabledBorder:#181818;
--buttonBackgroundChecked:#181818;
--menuDivider:#181818;
--cardShadow:0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
--cardShadowHovered:0 0 1px #c8c8c8;
--primaryButtonBorder:transparent;
--errorText:#F1707B;
--messageText:#F3F2F1;
--messageLink:#6CB8F6;
--messageLinkHovered:#82C7FF;
--infoIcon:#C8C6C4;
--errorIcon:#F1707B;
--blockingIcon:#442726;
--warningIcon:#C8C6C4;
--severeWarningIcon:#FCE100;
--successIcon:#92C353;
--infoBackground:#323130;
--errorBackground:#442726;
--blockingBackground:#442726;
--warningBackground:#433519;
--severeWarningBackground:#4F2A0F;
--successBackground:#393D1B;
--warningHighlight:#fff100;
--successText:#92c353;
--listTextColor:#323130;
--warningText:#F3F2F1;
--elevation4:0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
--elevation8:0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
--elevation16:0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
--elevation64:0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
--roundedCorner2:2px;
--roundedCorner4:4px;
--roundedCorner6:6px;
--tinyFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--tinyMozOsxFontSmoothing:grayscale;
--tinyWebkitFontSmoothing:antialiased;
--tinyFontSize:10px;
--tinyFontWeight:400;
--xSmallFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--xSmallMozOsxFontSmoothing:grayscale;
--xSmallWebkitFontSmoothing:antialiased;
--xSmallFontSize:10px;
--xSmallFontWeight:400;
--smallFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--smallMozOsxFontSmoothing:grayscale;
--smallWebkitFontSmoothing:antialiased;
--smallFontSize:12px;
--smallFontWeight:400;
--smallPlusFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--smallPlusMozOsxFontSmoothing:grayscale;
--smallPlusWebkitFontSmoothing:antialiased;
--smallPlusFontSize:12px;
--smallPlusFontWeight:400;
--mediumFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--mediumMozOsxFontSmoothing:grayscale;
--mediumWebkitFontSmoothing:antialiased;
--mediumFontSize:14px;
--mediumFontWeight:400;
--mediumPlusFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--mediumPlusMozOsxFontSmoothing:grayscale;
--mediumPlusWebkitFontSmoothing:antialiased;
--mediumPlusFontSize:16px;
--mediumPlusFontWeight:400;
--largeFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--largeMozOsxFontSmoothing:grayscale;
--largeWebkitFontSmoothing:antialiased;
--largeFontSize:18px;
--largeFontWeight:400;
--xLargeFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--xLargeMozOsxFontSmoothing:grayscale;
--xLargeWebkitFontSmoothing:antialiased;
--xLargeFontSize:20px;
--xLargeFontWeight:600;
--xLargePlusFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--xLargePlusMozOsxFontSmoothing:grayscale;
--xLargePlusWebkitFontSmoothing:antialiased;
--xLargePlusFontSize:24px;
--xLargePlusFontWeight:600;
--xxLargeFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--xxLargeMozOsxFontSmoothing:grayscale;
--xxLargeWebkitFontSmoothing:antialiased;
--xxLargeFontSize:28px;
--xxLargeFontWeight:600;
--xxLargePlusFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--xxLargePlusMozOsxFontSmoothing:grayscale;
--xxLargePlusWebkitFontSmoothing:antialiased;
--xxLargePlusFontSize:32px;
--xxLargePlusFontWeight:600;
--superLargeFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--superLargeMozOsxFontSmoothing:grayscale;
--superLargeWebkitFontSmoothing:antialiased;
--superLargeFontSize:42px;
--superLargeFontWeight:600;
--megaFontFamily:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
--megaMozOsxFontSmoothing:grayscale;
--megaWebkitFontSmoothing:antialiased;
--megaFontSize:68px;
--megaFontWeight:600; 
    }