ll

<div class="sg-anim-blocks {{ classname }}" data-animation={{dataAnimation}} >
    <div class="sg-anim-block"></div>
    <div class="sg-anim-block"></div>
    <div class="sg-anim-block"></div>
    <div class="sg-anim-block"></div>
    <div class="sg-anim-block"></div>
</div>