{{#input.file-upload}}
<section class="hoo-input-file">
    <div class="hoo-infile-icon">
        {{> atoms-icon }}
    </div>
    <div class="hoo-input-file-inner">
        <label for="file_upload" class="hoo-infile-label" name="file-upload" tabIndex="-1">{{label}}Click or drag and
            drop</label>
        <div class="hoo-infile-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, libero?
        </div>
        <input type="file" id="file_upload" name="{{name}}" class="hoo-infile-context" multiple />

        <output class="hoo-infile-output"></output>
    </div>
</section>
{{/input.file-upload}}
