<h2>Quick Links Compact Items</h2>
<div class="{{ col-count }}">
    {{> organism-pnp-search-compact-grid }}
</div>
<h2>Quick Links List Items</h2>
<div class="{{ col-count }}">
    {{> organism-pnp-search-list-grid }}
</div>