<p class="fontweight-regular">The quick brown fox jumps over the lazy dog</p>
<p class="fontweight-bold">The quick brown fox jumps over the lazy dog</p>
<p class="fontweight-heavy">The quick brown fox jumps over the lazy dog</p>