<div class="util-flex">
    <div class="utilbox depth-4">
        depth 4
    </div>
    <div class="utilbox depth-8">
        depth 8
    </div>
    <div class="utilbox depth-16">
        depth 16
    </div>
    <div class="utilbox depth-32">
        depth 32
    </div>
    <div class="utilbox depth-48">
        depth 48
    </div>
    <div class="utilbox depth-64">
        depth 64
    </div>
</div>