@use "../../00-base/mixin/core.mixin";

.hoo-accordion-header {
    list-style: none;
    list-style-image: none;
    &::-webkit-details-marker {
        display: none;
    }
    &::marker {
        content: "";
    }
}

.hoo-accordion-summary {
    display: flex;

    align-content: center;
    align-items: stretch;
    margin-bottom: 0.25rem;

    cursor: pointer;


    .hoo-icon {
        display: inline-flex;

        width: auto;
        height: 1.5rem;
        margin-right: .5rem;
        transition: all .2s ease;
    }

    h3 {
        display: inline-block;

        margin-top: 0;
        margin-bottom: 0;
        font-size: core.px2rem(20px);
    }
}

.hoo-accordion-content {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
}

.hoo-accordion {
    box-sizing: border-box;
    margin: 0.25rem 0;

    &[open] {
        .hoo-accordion-summary {
            .hoo-icon {
                transform-origin: center center;
                transform: rotate(90deg);
            }
        }

        &:focus,
        &:focus-within {
            outline: 1px black;
        }
    }

}