@use 'sass:math';

@use "../../00-base/colors/colors";
@use "../../00-base/mixin/core.mixin";

.hoo-navitem-text{
	font-size: core.px2rem(14px);

	display: flex;
	flex-direction: row;

	align-content: baseline;
	flex-wrap: wrap;

	.hoo-buttonicon{
		display: inline;

		width: core.px2rem(26px);
		height: core.px2rem(44px);

		svg{
			width: 12px;
			height: 12px;
		}

		& ~ .hoo-navitem-link{
			width: calc(100% - #{ core.px2rem(26px) });
			padding-left: 0;
		}
	}

	&:hover{
		background-color: colors.$buttonBackgroundHovered;
	}
}

.hoo-nav-list{
	.hoo-navitem-link{
		padding-right: core.px2rem(20px);
		padding-left: core.px2rem(27px);
	}
}

.hoo-navitem{
	&[aria-expanded="true"]{
		.hoo-buttonicon{
			svg{
				transform: rotate(90deg);
			}
		}

		.hoo-nav-listsub{
			display: block;
		}
	}

	&[aria-expanded="false"]{
		.hoo-nav-listsub{
			display: none;
		}
	}
	&[aria-current]{
		border-left: 2px colors.$ButtonPressedBorder solid;
		.hoo-buttonicon{
			padding-left: core.px2rem(2px);
		}
		.hoo-navitem-link{
			padding-left: core.px2rem(25px);
		}
		&.hoo-navitem{
			background-color: colors.$buttonBackgroundCheckedHovered;
		}
	}
}

.hoo-navitem-link{
	display: block;
	width: 100%;

	box-sizing: border-box;
	padding-top: core.px2rem(math.div(44px - 17px,2));
	padding-bottom: core.px2rem(math.div(44px - 17px,2));

	text-decoration: none;

	color: colors.$bodyText;

	&:visited{
		color: colors.$bodyText;
	}

	&:hover{
		color: colors.$Hyperlink;
		:visited{
			color: colors.$Hyperlink;
		}
	}
}

.hoo-nav{
	border: 1px solid colors.$ButtonBorder;
}

.hoo-nav-list,
.hoo-nav-listsub{
	display: block;

	margin: 0;
	padding: 0;

	list-style: none;
}

.hoo-nav-listsub{
	width: 100%;

	.hoo-navitem{
		width: 100%;
	}

	.hoo-navitem-link{
		display: block;

		width: 100%;
		padding-right: core.px2rem(20px);
		padding-left: core.px2rem(41px);
	}
}