{{#generateAvatarShowcase}}
<div class="sg-item-showcase">
    {{#each showcaseAvatars}}
    {{#avatarWithPresence ../status}}
        {{>molecules-avatar-presence}}
    {{/avatarWithPresence}}
    {{/each}}
</div>
{{/generateAvatarShowcase}}