$ouif-themeDarker: "[theme:themeDarker, default:#014446]";
$ouif-themeDark: "[theme:themeDark, default:#025c5f]";
$ouif-themeDarkAlt: "[theme:themeDarkAlt, default:#026d70]";
$ouif-themePrimary: "[theme:themePrimary, default:#03787c]";
$ouif-themeSecondary: "[theme:themeSecondary, default:#13898d]";
$ouif-themeTertiary: "[theme:themeTertiary, default:#49aeb1]";
$ouif-themeLight: "[theme:themeLight, default:#98d6d8]";
$ouif-themeLighter: "[theme:themeLighter, default:#c5e9ea]";
$ouif-themeLighterAlt: "[theme:themeLighterAlt, default:#f0f9fa]";
$ouif-black: "[theme:black, default:#000000]";
$ouif-blackTranslucent40: "[theme:blackTranslucent40, default:rgba(0,0,0,.4)]";
$ouif-neutralDark: "[theme:neutralDark, default:#212121]";
$ouif-neutralPrimary: "[theme:neutralPrimary, default:#333333]";
$ouif-neutralPrimaryAlt: "[theme:neutralPrimaryAlt, default:#3c3c3c]";
$ouif-neutralSecondary: "[theme:neutralSecondary, default:#666666]";
$ouif-neutralSecondaryAlt: "[theme:neutralSecondaryAlt, default:#767676]";
$ouif-neutralTertiary: "[theme:neutralTertiary, default:#a6a6a6]";
$ouif-neutralTertiaryAlt: "[theme:neutralTertiaryAlt, default:#c8c8c8]";
$ouif-neutralQuaternary: "[theme:neutralQuaternary, default:#d0d0d0]";
$ouif-neutralQuaternaryAlt: "[theme:neutralQuaternaryAlt, default:#dadada]";
$ouif-neutralLight: "[theme:neutralLight, default:#eaeaea]";
$ouif-neutralLighter: "[theme:neutralLighter, default:#f4f4f4]";
$ouif-neutralLighterAlt: "[theme:neutralLighterAlt, default:#f8f8f8]";
$ouif-accent: "[theme:accent, default:#4f6bed]";
$ouif-white: "[theme:white, default:#ffffff]";
$ouif-whiteTranslucent40: "[theme:whiteTranslucent40, default:rgba(255, 255, 255, 0.40)]";
$ouif-yellowDark: "[theme:yellowDark, default:#d29200]";
$ouif-yellow: "[theme:yellow, default:#ffb900]";
$ouif-yellowLight: "[theme:yellowLight, default:#fff100]";
$ouif-orange: "[theme:orange, default:#d83b01]";
$ouif-orangeLight: "[theme:orangeLight, default:#ea4300]";
$ouif-orangeLighter: "[theme:orangeLighter, default:#ff8c00]";
$ouif-redDark: "[theme:redDark, default:#a80000]";
$ouif-red: "[theme:red, default:#e81123]";
$ouif-magentaDark: "[theme:magentaDark, default:#5c005c]";
$ouif-magenta: "[theme:magenta, default:#b4009e]";
$ouif-magentaLight: "[theme:magentaLight, default:#e3008c]";
$ouif-purpleDark: "[theme:purpleDark, default:#32145a]";
$ouif-purple: "[theme:purple, default:#5c2d91]";
$ouif-purpleLight: "[theme:purpleLight, default:#b4a0ff]";
$ouif-blueDark: "[theme:blueDark, default:#002050]";
$ouif-blueMid: "[theme:blueMid, default:#00188f]";
$ouif-blue: "[theme:blue, default:#0078d4]";
$ouif-blueLight: "[theme:blueLight, default:#00bcf2]";
$ouif-tealDark: "[theme:tealDark, default:#004b50]";
$ouif-teal: "[theme:teal, default:#008272]";
$ouif-tealLight: "[theme:tealLight, default:#00b294]";
$ouif-greenDark: "[theme:greenDark, default:#004b1c]";
$ouif-green: "[theme:green, default:#107c10]";
$ouif-greenLight: "[theme:greenLight, default:#bad80a]";
$ouif-primaryBackground: "[theme:primaryBackground, default:#ffffff]";
$ouif-primaryText: "[theme:primaryText, default:#333333]";
$ouif-HyperlinkActive: "[theme:HyperlinkActive, default:#014446]";
$ouif-CommandLinksPressed: "[theme:CommandLinksPressed, default:#014446]";
$ouif-NavigationPressed: "[theme:NavigationPressed, default:#014446]";
$ouif-EmphasisHoverBorder: "[theme:EmphasisHoverBorder, default:#014446]";
$ouif-TopBarPressedText: "[theme:TopBarPressedText, default:#014446]";
$ouif-HeaderNavigationPressedText: "[theme:HeaderNavigationPressedText, default:#014446]";
$ouif-Hyperlinkfollowed: "[theme:Hyperlinkfollowed, default:#014446]";
$ouif-EmphasisHoverBackground: "[theme:EmphasisHoverBackground, default:#025c5f]";
$ouif-EmphasisBorder: "[theme:EmphasisBorder, default:#025c5f]";
$ouif-AccentText: "[theme:AccentText, default:#03787c]";
$ouif-CommandLinksHover: "[theme:CommandLinksHover, default:#03787c]";
$ouif-RowAccent: "[theme:RowAccent, default:#03787c]";
$ouif-NavigationAccent: "[theme:NavigationAccent, default:#03787c]";
$ouif-NavigationHover: "[theme:NavigationHover, default:#03787c]";
$ouif-EmphasisBackground: "[theme:EmphasisBackground, default:#03787c]";
$ouif-HeaderNavigationHoverText: "[theme:HeaderNavigationHoverText, default:#03787c]";
$ouif-HeaderNavigationSelectedText: "[theme:HeaderNavigationSelectedText, default:#03787c]";
$ouif-SuiteBarBackground: "[theme:SuiteBarBackground, default:#03787c]";
$ouif-Hyperlink: "[theme:Hyperlink, default:#03787c]";
$ouif-ContentAccent1: "[theme:ContentAccent1, default:#03787c]";
$ouif-AccentLines: "[theme:AccentLines, default:#13898d]";
$ouif-HeaderAccentLines: "[theme:HeaderAccentLines, default:#13898d]";
$ouif-ButtonPressedBorder: "[theme:ButtonPressedBorder, default:#13898d]";
$ouif-SuiteBarHoverBackground: "[theme:SuiteBarHoverBackground, default:#49aeb1]";
$ouif-StrongLines: "[theme:StrongLines, default:#98d6d8]";
$ouif-HeaderStrongLines: "[theme:HeaderStrongLines, default:#98d6d8]";
$ouif-SuiteBarHoverText: "[theme:SuiteBarHoverText, default:#98d6d8]";
$ouif-ButtonPressedBackground: "[theme:ButtonPressedBackground, default:#98d6d8]";
$ouif-ButtonHoverBorder: "[theme:ButtonHoverBorder, default:#98d6d8]";
$ouif-ButtonHoverBackground: "[theme:ButtonHoverBackground, default:#c5e9ea]";
$ouif-SelectionBackground: "[theme:SelectionBackground, default:rgba(152, 214, 216, 0.50)]";
$ouif-HoverBackground: "[theme:HoverBackground, default:rgba(197, 233, 234, 0.50)]";
$ouif-NavigationHoverBackground: "[theme:NavigationHoverBackground, default:rgba(197, 233, 234, 0.50)]";
$ouif-PageBackground: "[theme:PageBackground, default:#ffffff]";
$ouif-EmphasisText: "[theme:EmphasisText, default:#ffffff]";
$ouif-SuiteBarText: "[theme:SuiteBarText, default:#ffffff]";
$ouif-TileText: "[theme:TileText, default:#ffffff]";
$ouif-BackgroundOverlay: "[theme:BackgroundOverlay, default:rgba(255, 255, 255, 0.85)]";
$ouif-HeaderBackground: "[theme:HeaderBackground, default:rgba(255, 255, 255, 0.85)]";
$ouif-FooterBackground: "[theme:FooterBackground, default:rgba(255, 255, 255, 0.85)]";
$ouif-DisabledBackground: "[theme:DisabledBackground, default:#f8f8f8]";
$ouif-HeaderDisabledBackground: "[theme:HeaderDisabledBackground, default:#f8f8f8]";
$ouif-ButtonBackground: "[theme:ButtonBackground, default:#f8f8f8]";
$ouif-ButtonDisabledBackground: "[theme:ButtonDisabledBackground, default:#f8f8f8]";
$ouif-SubtleEmphasisBackground: "[theme:SubtleEmphasisBackground, default:#f4f4f4]";
$ouif-DialogBorder: "[theme:DialogBorder, default:#f4f4f4]";
$ouif-NavigationSelectedBackground: "[theme:NavigationSelectedBackground, default:rgba(234, 234, 234, 0.78)]";
$ouif-TopBarBackground: "[theme:TopBarBackground, default:rgba(234, 234, 234, 0.78)]";
$ouif-DisabledLines: "[theme:DisabledLines, default:#eaeaea]";
$ouif-HeaderDisabledLines: "[theme:HeaderDisabledLines, default:#eaeaea]";
$ouif-ButtonDisabledBorder: "[theme:ButtonDisabledBorder, default:#eaeaea]";
$ouif-SuiteBarDisabledText: "[theme:SuiteBarDisabledText, default:#eaeaea]";
$ouif-SubtleLines: "[theme:SubtleLines, default:#c8c8c8]";
$ouif-HeaderSubtleLines: "[theme:HeaderSubtleLines, default:#c8c8c8]";
$ouif-ButtonGlyphDisabled: "[theme:ButtonGlyphDisabled, default:#c8c8c8]";
$ouif-DisabledText: "[theme:DisabledText, default:#a6a6a6]";
$ouif-CommandLinksDisabled: "[theme:CommandLinksDisabled, default:#a6a6a6]";
$ouif-HeaderDisableText: "[theme:HeaderDisableText, default:#a6a6a6]";
$ouif-ButtonDisabledText: "[theme:ButtonDisabledText, default:#a6a6a6]";
$ouif-Lines: "[theme:Lines, default:#a6a6a6]";
$ouif-HeaderLines: "[theme:HeaderLines, default:#a6a6a6]";
$ouif-ButtonBorder: "[theme:ButtonBorder, default:#a6a6a6]";
$ouif-CommandLinks: "[theme:CommandLinks, default:#666666]";
$ouif-Navigation: "[theme:Navigation, default:#666666]";
$ouif-SubtleEmphasisText: "[theme:SubtleEmphasisText, default:#666666]";
$ouif-TopBarText: "[theme:TopBarText, default:#666666]";
$ouif-HeaderNavigationText: "[theme:HeaderNavigationText, default:#666666]";
$ouif-ButtonGlyph: "[theme:ButtonGlyph, default:#666666]";
$ouif-BodyText: "[theme:BodyText, default:#333333]";
$ouif-WebPartHeading: "[theme:WebPartHeading, default:#333333]";
$ouif-HeaderText: "[theme:HeaderText, default:#333333]";
$ouif-ButtonText: "[theme:ButtonText, default:#333333]";
$ouif-ButtonGlyphActive: "[theme:ButtonGlyphActive, default:#333333]";
$ouif-TopBarHoverText: "[theme:TopBarHoverText, default:#333333]";
$ouif-StrongBodyText: "[theme:StrongBodyText, default:#212121]";
$ouif-SiteTitle: "[theme:SiteTitle, default:#212121]";
$ouif-CommandLinksSecondary: "[theme:CommandLinksSecondary, default:#212121]";
$ouif-SubtleEmphasisCommandLinks: "[theme:SubtleEmphasisCommandLinks, default:#212121]";
$ouif-HeaderSiteTitle: "[theme:HeaderSiteTitle, default:#212121]";
$ouif-TileBackgroundOverlay: "[theme:TileBackgroundOverlay, default:rgba(0, 0, 0, 0.50)]";
$ouif-ContentAccent2: "[theme:ContentAccent2, default:#00485b]";
$ouif-ContentAccent3: "[theme:ContentAccent3, default:#288054]";
$ouif-ContentAccent4: "[theme:ContentAccent4, default:#767956]";
$ouif-ContentAccent5: "[theme:ContentAccent5, default:#ed0033]";
$ouif-ContentAccent6: "[theme:ContentAccent6, default:#682a7a]";
$ouif-backgroundOverlay: "[theme:backgroundOverlay, default:rgba(255, 255, 255, 0.85)]";
$ouif-themeAccent: "[theme:themeAccent, default:#03787c]";
$ouif-themeAccentTranslucent10: "[theme:themeAccentTranslucent10, default:rgba(3, 120, 124, 0.10)]";
$ouif-suiteBarBackground: "[theme:suiteBarBackground, default:#03787c]";
$ouif-suiteBarText: "[theme:suiteBarText, default:#ffffff]";
$ouif-suiteBarDisabledText: "[theme:suiteBarDisabledText, default:#eaeaea]";
$ouif-topBarBackground: "[theme:topBarBackground, default:rgba(234, 234, 234, 0.78)]";
$ouif-topBarText: "[theme:topBarText, default:#666666]";
$ouif-topBarHoverText: "[theme:topBarHoverText, default:#333333]";
$ouif-dialogBorder: "[theme:dialogBorder, default:#f4f4f4]";
$ouif-bodyBackground: "[theme:bodyBackground, default:#ffffff]";
$ouif-bodyStandoutBackground: "[theme:bodyStandoutBackground, default:#f8f8f8]";
$ouif-bodyFrameBackground: "[theme:bodyFrameBackground, default:#ffffff]";
$ouif-bodyFrameDivider: "[theme:bodyFrameDivider, default:#eaeaea]";
$ouif-bodyText: "[theme:bodyText, default:#333333]";
$ouif-bodyTextChecked: "[theme:bodyTextChecked, default:#000000]";
$ouif-bodySubtext: "[theme:bodySubtext, default:#666666]";
$ouif-bodyDivider: "[theme:bodyDivider, default:#eaeaea]";
$ouif-disabledBackground: "[theme:disabledBackground, default:#f4f4f4]";
$ouif-disabledText: "[theme:disabledText, default:#a6a6a6]";
$ouif-disabledBodyText: "[theme:disabledBodyText, default:#a6a6a6]";
$ouif-disabledSubtext: "[theme:disabledSubtext, default:#d0d0d0]";
$ouif-disabledBodySubtext: "[theme:disabledBodySubtext, default:#c8c8c8]";
$ouif-focusBorder: "[theme:focusBorder, default:#666666]";
$ouif-variantBorder: "[theme:variantBorder, default:#eaeaea]";
$ouif-variantBorderHovered: "[theme:variantBorderHovered, default:#a6a6a6]";
$ouif-defaultStateBackground: "[theme:defaultStateBackground, default:#f8f8f8]";
$ouif-errorText: "[theme:errorText, default:#a80000]";
$ouif-alertText: "[theme:errorText, default:#a80000]";
$ouif-warningText: "[theme:warningText, default:#333333]";
$ouif-successText: "[theme:successText, default:#107C10]";
$ouif-infoText: "[theme:successText, default:#107C10]";
$ouif-alertBackground: "[theme:errorBackground, default:rgba(232, 17, 35, .2)]";
$ouif-errorBackground: "[theme:errorBackground, default:rgba(232, 17, 35, .2)]";
$ouif-blockingBackground: "[theme:blockingBackground, default:rgba(234, 67, 0, .2)]";
$ouif-warningBackground: "[theme:warningBackground, default:rgba(255, 185, 0, .2)]";
$ouif-warningHighlight: "[theme:warningHighlight, default:#ffb900]";
$ouif-successBackground: "[theme:successBackground, default:rgba(186, 216, 10, .2)]";
$ouif-infoBackground: "[theme:successBackground, default:rgba(186, 216, 10, .2)]";
$ouif-inputBorder: "[theme:inputBorder, default:#a6a6a6]";
$ouif-inputBorderHovered: "[theme:inputBorderHovered, default:#333333]";
$ouif-inputBackground: "[theme:inputBackground, default:#ffffff]";
$ouif-inputBackgroundChecked: "[theme:inputBackgroundChecked, default:#03787c]";
$ouif-inputBackgroundCheckedHovered: "[theme:inputBackgroundCheckedHovered, default:#026d70]";
$ouif-inputForegroundChecked: "[theme:inputForegroundChecked, default:#ffffff]";
$ouif-inputFocusBorderAlt: "[theme:inputFocusBorderAlt, default:#03787c]";
$ouif-smallInputBorder: "[theme:smallInputBorder, default:#666666]";
$ouif-inputText: "[theme:inputText, default:#333333]";
$ouif-inputTextHovered: "[theme:inputTextHovered, default:#212121]";
$ouif-inputPlaceholderText: "[theme:inputPlaceholderText, default:#666666]";
$ouif-buttonBackground: "[theme:buttonBackground, default:#f4f4f4]";
$ouif-buttonBackgroundChecked: "[theme:buttonBackgroundChecked, default:#c8c8c8]";
$ouif-buttonBackgroundHovered: "[theme:buttonBackgroundHovered, default:#eaeaea]";
$ouif-buttonBackgroundCheckedHovered: "[theme:buttonBackgroundCheckedHovered, default:#eaeaea]";
$ouif-buttonBackgroundPressed: "[theme:buttonBackgroundPressed, default:#eaeaea]";
$ouif-buttonBackgroundDisabled: "[theme:buttonBackgroundDisabled, default:#f4f4f4]";
$ouif-buttonBorder: "[theme:buttonBorder, default:transparent]";
$ouif-buttonText: "[theme:buttonText, default:#333333]";
$ouif-buttonTextHovered: "[theme:buttonTextHovered, default:#212121]";
$ouif-buttonTextChecked: "[theme:buttonTextChecked, default:#212121]";
$ouif-buttonTextCheckedHovered: "[theme:buttonTextCheckedHovered, default:#000000]";
$ouif-buttonTextPressed: "[theme:buttonTextPressed, default:#212121]";
$ouif-buttonTextDisabled: "[theme:buttonTextDisabled, default:#a6a6a6]";
$ouif-buttonBorderDisabled: "[theme:buttonBorderDisabled, default:transparent]";
$ouif-primaryButtonBackground: "[theme:primaryButtonBackground, default:#03787c]";
$ouif-primaryButtonBackgroundHovered: "[theme:primaryButtonBackgroundHovered, default:#026d70]";
$ouif-primaryButtonBackgroundPressed: "[theme:primaryButtonBackgroundPressed, default:#025c5f]";
$ouif-primaryButtonBackgroundDisabled: "[theme:primaryButtonBackgroundDisabled, default:#f4f4f4]";
$ouif-primaryButtonBorder: "[theme:primaryButtonBorder, default:transparent]";
$ouif-primaryButtonText: "[theme:primaryButtonText, default:#ffffff]";
$ouif-primaryButtonTextHovered: "[theme:primaryButtonTextHovered, default:#ffffff]";
$ouif-primaryButtonTextPressed: "[theme:primaryButtonTextPressed, default:#ffffff]";
$ouif-primaryButtonTextDisabled: "[theme:primaryButtonTextDisabled, default:#d0d0d0]";
$ouif-accentButtonBackground: "[theme:accentButtonBackground, default:#4f6bed]";
$ouif-accentButtonText: "[theme:accentButtonText, default:#ffffff]";
$ouif-menuBackground: "[theme:menuBackground, default:#ffffff]";
$ouif-menuDivider: "[theme:menuDivider, default:#c8c8c8]";
$ouif-menuIcon: "[theme:menuIcon, default:#03787c]";
$ouif-menuHeader: "[theme:menuHeader, default:#03787c]";
$ouif-menuItemBackgroundHovered: "[theme:menuItemBackgroundHovered, default:#f4f4f4]";
$ouif-menuItemBackgroundPressed: "[theme:menuItemBackgroundPressed, default:#eaeaea]";
$ouif-menuItemText: "[theme:menuItemText, default:#333333]";
$ouif-menuItemTextHovered: "[theme:menuItemTextHovered, default:#212121]";
$ouif-listBackground: "[theme:listBackground, default:#ffffff]";
$ouif-listText: "[theme:listText, default:#333333]";
$ouif-listItemBackgroundHovered: "[theme:listItemBackgroundHovered, default:#f4f4f4]";
$ouif-listItemBackgroundChecked: "[theme:listItemBackgroundChecked, default:#eaeaea]";
$ouif-listItemBackgroundCheckedHovered: "[theme:listItemBackgroundCheckedHovered, default:#dadada]";
$ouif-listHeaderBackgroundHovered: "[theme:listHeaderBackgroundHovered, default:#f4f4f4]";
$ouif-listHeaderBackgroundPressed: "[theme:listHeaderBackgroundPressed, default:#eaeaea]";
$ouif-actionLink: "[theme:actionLink, default:#333333]";
$ouif-actionLinkHovered: "[theme:actionLinkHovered, default:#212121]";
$ouif-link: "[theme:link, default:#03787c]";
$ouif-linkHovered: "[theme:linkHovered, default:#014446]";
$ouif-listTextColor: "[theme:listTextColor, default:#333333]";
$ouif-menuItemBackgroundChecked: "[theme:menuItemBackgroundChecked, default:#eaeaea]";
$ouif-elevation4: "[theme:elevation4, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation8: "[theme:elevation8, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation16: "[theme:elevation16, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-elevation64: "[theme:elevation64, default:0 0 5px 0 rgba(0,0,0,.4)]";
$ouif-roundedCorner2: "[theme:roundedCorner2, default:0px]";
$ouif-tinyFontFamily: "[theme:tinyFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-tinyMozOsxFontSmoothing: "[theme:tinyMozOsxFontSmoothing, default:grayscale]";
$ouif-tinyWebkitFontSmoothing: "[theme:tinyWebkitFontSmoothing, default:antialiased]";
$ouif-tinyFontSize: "[theme:tinyFontSize, default:10px]";
$ouif-tinyFontWeight: "[theme:tinyFontWeight, default:600]";
$ouif-xSmallFontFamily: "[theme:xSmallFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-xSmallMozOsxFontSmoothing: "[theme:xSmallMozOsxFontSmoothing, default:grayscale]";
$ouif-xSmallWebkitFontSmoothing: "[theme:xSmallWebkitFontSmoothing, default:antialiased]";
$ouif-xSmallFontSize: "[theme:xSmallFontSize, default:11px]";
$ouif-xSmallFontWeight: "[theme:xSmallFontWeight, default:400]";
$ouif-smallFontFamily: "[theme:smallFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-smallMozOsxFontSmoothing: "[theme:smallMozOsxFontSmoothing, default:grayscale]";
$ouif-smallWebkitFontSmoothing: "[theme:smallWebkitFontSmoothing, default:antialiased]";
$ouif-smallFontSize: "[theme:smallFontSize, default:12px]";
$ouif-smallFontWeight: "[theme:smallFontWeight, default:400]";
$ouif-smallPlusFontFamily: "[theme:smallPlusFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-smallPlusMozOsxFontSmoothing: "[theme:smallPlusMozOsxFontSmoothing, default:grayscale]";
$ouif-smallPlusWebkitFontSmoothing: "[theme:smallPlusWebkitFontSmoothing, default:antialiased]";
$ouif-smallPlusFontSize: "[theme:smallPlusFontSize, default:13px]";
$ouif-smallPlusFontWeight: "[theme:smallPlusFontWeight, default:400]";
$ouif-mediumFontFamily: "[theme:mediumFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-mediumMozOsxFontSmoothing: "[theme:mediumMozOsxFontSmoothing, default:grayscale]";
$ouif-mediumWebkitFontSmoothing: "[theme:mediumWebkitFontSmoothing, default:antialiased]";
$ouif-mediumFontSize: "[theme:mediumFontSize, default:14px]";
$ouif-mediumFontWeight: "[theme:mediumFontWeight, default:400]";
$ouif-mediumPlusFontFamily: "[theme:mediumPlusFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-mediumPlusMozOsxFontSmoothing: "[theme:mediumPlusMozOsxFontSmoothing, default:grayscale]";
$ouif-mediumPlusWebkitFontSmoothing: "[theme:mediumPlusWebkitFontSmoothing, default:antialiased]";
$ouif-mediumPlusFontSize: "[theme:mediumPlusFontSize, default:15px]";
$ouif-mediumPlusFontWeight: "[theme:mediumPlusFontWeight, default:400]";
$ouif-largeFontFamily: "[theme:largeFontFamily, default:'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-largeMozOsxFontSmoothing: "[theme:largeMozOsxFontSmoothing, default:grayscale]";
$ouif-largeWebkitFontSmoothing: "[theme:largeWebkitFontSmoothing, default:antialiased]";
$ouif-largeFontSize: "[theme:largeFontSize, default:17px]";
$ouif-largeFontWeight: "[theme:largeFontWeight, default:300]";
$ouif-xLargeFontFamily: "[theme:xLargeFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-xLargeMozOsxFontSmoothing: "[theme:xLargeMozOsxFontSmoothing, default:grayscale]";
$ouif-xLargeWebkitFontSmoothing: "[theme:xLargeWebkitFontSmoothing, default:antialiased]";
$ouif-xLargeFontSize: "[theme:xLargeFontSize, default:21px]";
$ouif-xLargeFontWeight: "[theme:xLargeFontWeight, default:100]";
$ouif-xLargePlusFontFamily: "[theme:xLargePlusFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-xLargePlusMozOsxFontSmoothing: "[theme:xLargePlusMozOsxFontSmoothing, default:grayscale]";
$ouif-xLargePlusWebkitFontSmoothing: "[theme:xLargePlusWebkitFontSmoothing, default:antialiased]";
$ouif-xLargePlusFontSize: "[theme:xLargePlusFontSize, default:21px]";
$ouif-xLargePlusFontWeight: "[theme:xLargePlusFontWeight, default:100]";
$ouif-xxLargeFontFamily: "[theme:xxLargeFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-xxLargeMozOsxFontSmoothing: "[theme:xxLargeMozOsxFontSmoothing, default:grayscale]";
$ouif-xxLargeWebkitFontSmoothing: "[theme:xxLargeWebkitFontSmoothing, default:antialiased]";
$ouif-xxLargeFontSize: "[theme:xxLargeFontSize, default:28px]";
$ouif-xxLargeFontWeight: "[theme:xxLargeFontWeight, default:100]";
$ouif-xxLargePlusFontFamily: "[theme:xxLargePlusFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-xxLargePlusMozOsxFontSmoothing: "[theme:xxLargePlusMozOsxFontSmoothing, default:grayscale]";
$ouif-xxLargePlusWebkitFontSmoothing: "[theme:xxLargePlusWebkitFontSmoothing, default:antialiased]";
$ouif-xxLargePlusFontSize: "[theme:xxLargePlusFontSize, default:28px]";
$ouif-xxLargePlusFontWeight: "[theme:xxLargePlusFontWeight, default:100]";
$ouif-superLargeFontFamily: "[theme:superLargeFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-superLargeMozOsxFontSmoothing: "[theme:superLargeMozOsxFontSmoothing, default:grayscale]";
$ouif-superLargeWebkitFontSmoothing: "[theme:superLargeWebkitFontSmoothing, default:antialiased]";
$ouif-superLargeFontSize: "[theme:superLargeFontSize, default:42px]";
$ouif-superLargeFontWeight: "[theme:superLargeFontWeight, default:100]";
$ouif-megaFontFamily: "[theme:megaFontFamily, default:'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
$ouif-megaMozOsxFontSmoothing: "[theme:megaMozOsxFontSmoothing, default:grayscale]";
$ouif-megaWebkitFontSmoothing: "[theme:megaWebkitFontSmoothing, default:antialiased]";
$ouif-megaFontSize: "[theme:megaFontSize, default:72px]";
$ouif-megaFontWeight: "[theme:megaFontWeight, default:100]";