@mixin lineClamp($lines, $line-height: 1rem){
	display: -webkit-box;
	overflow: hidden;

	max-height: #{$lines'lh'};

	text-overflow: ellipsis;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
}