<button class="lqd-buttoncontext">
    <span class="lqd-buttoncontext-icon" aria-hidden="true"> {{> atoms-icon iconname=icon }} </span>
    <span class="lqd-buttoncontext-label"> {{label}} </span>
</button>