   
    <!--- ▼▼▼ This DIV below is just to show a background and is not part of the dialog framework ▼▼▼ -->
    <div style="height: 100vh; width: 100vw; background: url(../../images/background-2.jpg) no-repeat center center fixed; background-size: cover;">
        <button class="show-dialog">Show Dialog</button>
        <!--- ▲▲▲ This DIV below is just to show a background and is not part of the dialog framework ▲▲▲ -->
        <div class="lqd-mdldialog-outer">
            <div class="lqd-mdldialog" style="--lqdDialogHeight: 30vh; --lqdDialogWidth: 40vw;">
                {{> molecules-dialog-header title=modalDialogTitle iconAction=iconAction }}
                {{> molecules-dialog-content content=content }}
            </div>
        </div>
        <!--- ▼▼▼ This DIV below is just to show a background and is not part of the dialog framework ▼▼▼ -->
    </div>
    <!--- ▲▲▲ This DIV below is just to show a background and is not part of the dialog framework ▲▲▲ -->
</div>

