.hoo-pnpsearch-grid {
    display: grid;
    grid-gap: 1rem 2rem;
    padding: 0;

    .CanvasSection-xl12 & {
        grid-template-columns: repeat(12, 1fr);


    }

    .CanvasSection-xl8 & {
        grid-template-columns: repeat(8, 1fr);
    }

    .CanvasSection-xl6 & {
        grid-template-columns: repeat(6, 1fr);
    }

    .CanvasSection-xl4 & {
        grid-template-columns: repeat(4, 1fr);
    }


    /* < 1366 pixel */
    @media screen and (max-width: 1366px) {
        gap: 1.5rem;
    }

    /* <= 640 pixel */

    pnp-select {
        grid-column: auto / span 2;

        box-sizing: border-box;

        /* background-color: oklch(43.38% 0.085 228.92); */
        padding: 0.5rem;
        color: white;
    }
}

@media screen and (min-width: 1280px) {
    .CanvasVerticalSection {
        .CanvasSection-xl12{
            .hoo-pnpsearch-grid {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}


.CanvasSection-xl12,
.CanvasSection-xl8,
.CanvasSection-xl6,
.CanvasSection-xl4 {
    .hoo-pnpsearch-grid {
        @media screen and (max-width: 640px) {
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}