<a href="#" class="hoo-doccard-link">
    <article class="hoo-doccard">
        {{> molecules-card-image }}
        {{> molecules-card-location }}
        {{> molecules-card-title }}
        {{> molecules-card-footer }}
        </article>
</a>