.sg-colors,
.sg-elevations{
	font-family: sans-serif;

	list-style: none;
}

.sg-colors{
	column-count: 3;
}

.sg-elevations{
	display: flex;
	flex-direction: row;

	padding: 5rem 3rem;

	flex-wrap: wrap;
}

.sg-swatch{
	display: flex;
	flex-direction: row;

	align-items: center;

	&box{
		display: flex;

		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
		margin-left: 1rem;

		content: " ";

		flex-shrink: 0;
	}
}

.sg-elevation{
	display: flex;
	flex-direction: row;

	margin: 2 4rem;

	flex-basis: 50%;

	&box{
		display: flex;
		// margin-left: 3rem;

		box-sizing: border-box;
		width: 4rem;
		height: 4rem;
		margin-right: 3rem;
		margin-bottom: 2rem;

		border-collapse: collapse;

		content: " ";

		border: 1px rgb(96, 94, 92) solid;
		border-image-source: none;
		border-image-slice: 100%;
		border-image-width: 1 ;
		border-image-outset: 0;
		border-image-repeat: stretch;

		flex-shrink: 0;
		page-break-inside: avoid;
	}
}

.sg-anim-blocks{
	display: flex;
	justify-content: center;

	height: 200px;

	background-color: $buttonBackgroundCheckedHovered;

	align-content: center;
	align-items: center;
	will-change: content;
}
.sg-anim-block{
	width: 75px;
	height: 75px;
	margin: 1rem;

	content: "";

	background-color: #72ad97;

	will-change: opactiy;
}
