@use "00-base/mixin/elevation.mixin";

$elevationLevels: 4,8,16,64;

@each $elevationLevel in $elevationLevels {
    .hoo-elevation#{$elevationLevel} {
        @include elevation.elevation($elevationLevel)
    }
}