.facility-form-overview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start; /* Align items at the top (or `center`, `end`) */
    // justify-items: start; /* Align items to the left (or `center`, `end`) */
    font-size: .875rem;
    margin: 2rem auto;
}
.facility-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start; /* Align items at the top (or `center`, `end`) */
    // justify-items: start; /* Align items to the left (or `center`, `end`) */
    font-size: .875rem;
    margin: 2rem auto;
    max-width: 1024px;
    .actions{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }
}
.hoo-field{
    &.stretched{
        .hoo-select{
            width: 100%;
        }       
    }
}