<p>Standard text with a little bit of <strong>strong</strong></p>
<p>Standard text with a little bit of <em>Italic or emphasis</em></p>
<p>Standard text with a little bit of <u>underline</u></p>
<p>Regular or font-weight: 400</p>
<p style="font-weight: 600">Semi-bold or font-weight: 600</p>
<p style="font-weight: 700">Bold or font-weight: 700</p>
