.lqd-buttonsplit{
	@extend %flyoutDropDown;

	position: relative;

	display: flex;

	&-standard{
		@extend .lqd-button;

		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin: 0;
		&[disabled],
		&:disabled{
			pointer-events: none;

			color: $buttonTextDisabled;
			border-color: $buttonBackgroundDisabled;
			background-color: $buttonBackgroundDisabled;
		}
	}

	&-carret{
		@extend .lqd-button;

		font-weight: 400;

		margin: 0;
		padding: 0;

		color: $buttonText;
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		.lqd-button-label{
			font-weight: inherit;
			line-height: 1;

			height: auto;
			margin: 0;
			padding: px2rem(2px) px2rem(6px);

			color: inherit;
			border-left: 1px currentColor solid;
		}
		.lqd-icon{
			height: 16px;
		}
		& > *{
			pointer-events: none;
		}
		&[disabled],
		&:disabled{
			pointer-events: none;

			color: $buttonTextDisabled;
			border-color: $buttonBackgroundDisabled;
			background-color: $buttonBackgroundDisabled;
		}
	}

	.lqd-buttonflyout{
		position: absolute;
		top: 100%;

		display: none;
	}

	&.show-flyout{
		.lqd-buttonflyout{
			display: block;
		}
	}
}

.lqd-buttonsplit-primary{
	@extend .lqd-buttonsplit;

	.lqd-buttonsplit-standard,
	.lqd-buttonsplit-carret{
		color: $primaryButtonText;
		border-color: $primaryButtonBackground;
		background-color: $primaryButtonBackground;

		.lqd-button-label{
			color: currentColor;
		}
		&[disabled],
		&:disabled{
			pointer-events: none;

			color: $buttonTextDisabled;
			border-color: $buttonBackgroundDisabled;
			background-color: $buttonBackgroundDisabled;
		}
	}
	&.show-flyout{
		.lqd-buttonsplit-carret{
			border-color: $primaryButtonBackgroundPressed;
			background-color: $primaryButtonBackgroundPressed;
		}
	}
}