.lqd-buttoncmd{
	position: relative;

	button.lqd-buttoncmd{
		@extend .lqd-buttonaction;
		.lqd-buttonchevron{
			color: $buttonText;
		}
	}

	& > *{
		pointer-events: none;
	}

	.lqd-buttonflyout{
		position: absolute;
		top: 100%;
		left: 0;

		display: none;

		& > *{
			pointer-events: all;
		}

		.lqd-buttoncontext{
			display: flex;
		}
	}

	&.show-flyout{
		.lqd-buttonflyout{
			display: flex;
		}
	}
}