div{
	&.lqd-button-cmd{
		padding: 0 px2rem(4px);

		background-color: $buttonBackground;
		&:hover{
			background-color: $buttonBackgroundHovered;
		}
		&.show-flyout{
			background-color: $buttonBackgroundPressed;
		}
	}
}

.lqd-button-cmd{
	@extend %flyoutDropDown;

	position: relative;

	display: inline-flex;
	flex-direction: row;
	justify-content: center;

	height: px2rem(44px);
	padding-left: 0;

	border: 1px black solid;
	border: 0;
	background-color: transparent;

	align-items: center;

	.lqd-button-carret,
	.lqd-button-icon{
		font-size: 1rem;

		display: flex;
		justify-content: center;

		width: 16px;
		height: 16px;

		color: $Hyperlink;

		align-items: center;
	}

	.lqd-button-carret{
		display: flex;

		height: 100%;

		color: rgb(96, 94, 92);
		border: none;
		background: transparent;

		&:hover{
			background: transparent;
		}
	}

	.lqd-button-label{
		font-weight: 400;

		padding: 0 0 0 px2rem(8px);
	}
}