<h3>Theming support for shimmer</h3>
<p>Shimmer also supports theming based on the SharePoint theme. This can be accomplished in two ways.
    The following three themes are supported.</p>
<ul>
    <li>No theme or <code>hoo-ph-primary</code> - use for the primary theme base background colors;</li>
    <li><code>hoo-ph-neutral</code> - use for the neutral based background color gradient.</li>
    <li><code>hoo-ph-fancy</code> - use for the fancy gradients based background color gradient.</li>
</ul>
<p>This style sheet classes can be added to a complete block as well es directly on the placeholder container.</p>
<h3>Block theming</h3>
Apply any of the theming classes on the surrounding block.
<h4>No Theme on Block</h4>
{{>atoms-shimmer-theme-notheme }}
<h4>Neutral Theme Block</h4>
{{>atoms-shimmer-theme-neutral }}
<h4>Primary Theme Block</h4>
{{>atoms-shimmer-theme-primary }}
<h4>Fancy Theme Block</h4>
{{>atoms-shimmer-theme-fancy }}


<h3>Inline theming</h3>
Apply any of the theming classes on the placeholder element.
<h4>No Theme on Block</h4>
{{>atoms-shimmer-theme-inline-notheme }}
<h4>Neutral Theme Block</h4>
{{>atoms-shimmer-theme-inline-neutral }}
<h4>Primary Theme Block</h4>
{{>atoms-shimmer-theme-inline-primary }}
<h4>Fancy Theme Block</h4>
{{>atoms-shimmer-theme-inline-fancy }}