{{#player}}
<div class="hoo-video-player">
    <video controls autoplay class="hoo-video-player" loading="lazy" preload="meta">
        <source src="{{ src }}" type="video/mp4">
    </video>
</div>
{{/player}}