<div class="hoo-splashscr">
    <div class="hoo-splashscr-content">
        {{#repeatWithBase splash-card-count splash-card}}
        {{> organism-teams-splash-card (splashCardWithImage @index this ../.) }}
        {{/repeatWithBase}}
    </div>
</div>