.hoo-dialog {
    &::backdrop {
        background-image: linear-gradient(45deg,
                magenta,
                rebeccapurple,
                dodgerblue,
                green);
        opacity: 0.75;
    }
}