<div class="lqd-input-group">
    <div class="lqd-input-prefix">{{ inputPrefix }}</div>
    <input class="lqd-input-text" type="text" placeholder="This is jsut a placehoder" data-suffix="{{ inputSuffix }}" data-prefix="{{ inputPrefix }}">
    <div class="lqd-input-suffix">{{ inputSuffix }}</div>
</div>