<div class="lqd-input-search">
    <svg class="icon {{iconname}}">
        <use xlink:href="../../images/icons.svg#{{ iconname }}"></use>
    </svg><input class="lqd-input-text" type="text" placeholder="{{ placeholder }}">
</div>