{{#radiobutton-group}}
<menu class="hoo-radiobutton-group" role="radiogroup" tabindex="0">
    {{#each items }}
    <li tabindex="-1" role="radio">
        {{>atoms-radiobutton this }}
    </li>
    {{/each}}
</menu>
{{/radiobutton-group}}