<dialog id="myDialog" class="hoo-dlg statusbar" open>
    {{> atoms-icon iconname='icon-info-filled'}}
    <div class="hoo-dlg-content">This dialog comes without a backgrop and can be used for a
        statusbar for example.</div>
    <div class="hoo-dlg-actions">
        <button id="closer-dlg" autofocus>Close</button>
    </div>
</dialog>
<dialog id="myDialog" class="hoo-dlg statusbar warning" open>
    {{> atoms-icon iconname='icon-warning-filled'}}
    <div class="hoo-dlg-content">This dialog comes without a backgrop and can be used for a
        statusbar for example.</div>
    <div class="hoo-dlg-actions">
        <button id="closer-dlg" autofocus>Close</button>
    </div>
</dialog>
<dialog id="myDialog" class="hoo-dlg statusbar error" open>
    {{> atoms-icon iconname='icon-info-filled'}}<div class="hoo-dlg-content">This dialog comes without a backgrop and can be used for a
        statusbar for example.</div>
    <div class="hoo-dlg-actions">
        <button id="closer-dlg" autofocus>Close</button>
    </div>
</dialog>
<dialog id="myDialog" class="hoo-dlg statusbar success" open>
    {{> atoms-icon iconname='icon-checkmark-circle-filled'}}<div class="hoo-dlg-content">This dialog comes without a backgrop and can be used
        for a statusbar for example.</div>
    <div class="hoo-dlg-actions">
        <button id="closer-dlg" autofocus>Close</button>
    </div>
</dialog>