@use "00-base/colors/colors";

.hoo-teamsdbcard{
	box-sizing: border-box;
	padding: 1rem;

	border-radius: 4px;
	background-color: colors.$neutral-000;
}
.hoo-teamsdbcard-title{
	font-size: 1rem;
	font-weight: bold;
}
