.hoo-buttonflyout{
	@extend %listReset;

	display: inline-block;
	flex-direction: column;

	border: 1px $neutral-450;
	background-color: $neutral-000;
	cursor: pointer;

	@include elevation(4);
	z-index: 400;
	.hoo-buttonaction{
		width: 100%;
		height: auto;
		min-height: px2rem(36px);
		padding-right: 3rem;
		&:hover{
			background-color: $neutral-100;
			.hoo-button-label{
				color: $neutral-700;
			}
		}
		&:active{
			color: $neutral-800;
		}
	}
}
.hoo-buttonflyout-item{
	display: block;

	width: auto;
}
.hoo-buttonflyout-button{
}