.hoo-buttoncmd{
	position: relative;
	

	button.hoo-buttoncmd{
		@extend .hoo-buttonaction;
		cursor: pointer;
		.hoo-buttonchevron{
			// color: $buttonText;
			color: $neutral-700;
		}

		& > *{
			pointer-events: none;
		}
		&:focus{
			outline: none;
		}
	}


	.hoo-buttonflyout{
		position: absolute;
		top: 100%;
		left: 0;

		display: none;

		& > *{
			pointer-events: all;
		}

		.hoo-buttoncontext{
			display: flex;
		}
	}

	&.show-flyout{
		& > .hoo-buttonflyout{
			display: flex;
		}
	}
}