<div class="lqd-buttoncontext-outer">
    <button class="lqd-buttoncontext">
        <span class="lqd-buttoncontext-icon" aria-hidden="true"> {{> atoms-icon iconname=icon }} </span>
        <span class="lqd-buttoncontext-label"> {{label}} </span>
        <span class="lqd-button-icon lqd-buttonchevron"> {{> atoms-icon iconname=iconDown }} </span>
    </button>
    {{> atoms-menu-flyouts contextItems=ddItems }}
</div>