<nav class="hoo-nav">
    <ul role="tree" class="hoo-nav-list" role="tree">
        {{#each navItems }}
        <li role="treeitem" class="hoo-navitem" aria-expanded="true" {{#if isCurrent }}aria-current="page" {{/if}}>
            <div class="hoo-navitem-text">
                {{#if (isdefined subentries) }}
                {{> atoms-button-icon iconAction=../iconActionTree }}
                {{/if}}
                <a href="{{ link }}" class="hoo-navitem-link">{{ text }}</a>
                {{#if (isdefined subentries) }}
            </div>
            <ul class="hoo-nav-listsub" role="group">
                {{/if}}
                {{#each subentries }}
                <li class="hoo-navitem">
                    <div class="hoo-navitem-text">
                        <a href="" class="hoo-navitem-link">bbb</a>
                    </div>
                </li>
                {{/each}}
                {{#if (isdefined subentries) }}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{!-- <ul class="hoo-nav-list">
        <li class="hoo-nav-item">
            <a href="" class="hoo-nav-link">aaa</a>
            <ul class="hoo-nav-listsub">
                <li class="hoo-nav-item">
                    <a href="" class="hoo-nav-link">bbb</a>
                </li>
            </ul>
        </li>
    </ul> --}}
</nav>