{{#card-footer}}
<footer class="hoo-cardfooter">
    {{>atoms-avatar this }}
    <div class="hoo-cardfooter-data">
        <div class="hoo-cardfooter-name">{{ name }}</div>
        <div class="hoo-cardfooter-modified">{{ modified }}</div>
    </div>
</footer>
{{/card-footer}}