{{#card}}
<footer class="hoo-cardfooter">
    {{>atoms-avatar footer }}
    <div class="hoo-cardfooter-data">
        <div class="hoo-cardfooter-name">{{ footer.name }}</div>
        <div class="hoo-cardfooter-modified">{{ footer.modified }}</div>
    </div>
</footer>
{{/card}}