
<button class="lqd-buttoncomp">
    <div class="lqd-buttoncomp-label">Standard</div>
    <div class="lqd-buttoncomp-desc">Standard with description</div>
</button>
<br>
<button class="lqd-buttoncomp-primary">
    <div class="lqd-buttoncomp-label">Primary</div>
    <div class="lqd-buttoncomp-desc">Primary with description</div>
</button>
<br>
<button class="lqd-buttoncomp" disabled="true" aria-disabled="true">
    <div class="lqd-buttoncomp-label">Standard Disabled</div>
    <div class="lqd-buttoncomp-desc">Standard with description</div>
</button>
<br>
<button class="lqd-buttoncomp-primary" disabled="true" aria-disabled="true">
    <div class="lqd-buttoncomp-label">Primary Disabled</div>
    <div class="lqd-buttoncomp-desc">Primary with description</div>
</button>