{{#button}}
<button class="hoo-buttonicon" 
    {{#if arialabel }}aria-label="{{ arialabel }}"{{/if}}
    {{#if role }}role="{{ role }}"{{/if}}
    {{#if props}} {{{props}}}{{/if}}>
    {{> atoms-icon }}
</button>
{{/button}}