<menu class="hoo-buttonflyout">
    {{# contextItems }}
    <li class="hoo-buttonflyout-item">
        {{> atoms-button-action iconname=this.icon label=this.label }}
    </li>
    {{/ contextItems }}
</menu>