<table class="lqd-table is-collapsable">
    <thead>
        <tr class="collapsable" data-sectionHeader="all">
            <th class="lqd-table-iconcell">
                {{> atoms-button-icon iconame=iconAction }}
            </th>
            <th>Hello</th>
            <th>World</th>
            <th>How</th>
            <th>Goes</th>
        </tr>
    </thead>
    <tbody>
        <tr class="collapsable" data-sectionHeader="section1">
            <th class="lqd-table-iconcell">
                {{> atoms-button-icon iconame=iconAction }}
            </th>
            <th colspan="4">
                <div class="lqd-table-subheader"><span>Lorem, ipsum
                        dolor.</span></div>
            </th>
        </tr>
        <tr data-section="section1">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section1">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section1">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section1">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr class="collapsable" data-sectionHeader="section2">
            <th class="lqd-table-iconcell">
                {{> atoms-button-icon iconame=iconAction }}
            </th>
            <th colspan="4">
                <div class="lqd-table-subheader"><span>Lorem, ipsum
                        dolor.</span></div>
            </th>
        </tr>
        <tr data-section="section2">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section2">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section2">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
        <tr data-section="section2">
            <td></td>
            <td>Lorem, ipsum.</td>
            <td>Deserunt, ipsa?</td>
            <td>Velit, blanditiis?</td>
            <td>Placeat, quidem.</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>