<link href="../../images/fluent-ui-filled.svg" as="image" type="image/svg+xml" class="object-embedd pl-ico-filled"
    loading="lazy" rel="subresource">
<link href="../../images/fluent-ui-regular.svg" as="image" type="image/svg+xml" class="object-embedd pl-ico-regular"
    loading="lazy" rel="subresource">
<header class="pl-header">
    <img src="../../styleguide/images/htwoo-logo-vertical.jpg" class="pl-header-logo" alt="hTWOo Icon Logo">
    <div class="pl-header-title">Icon Tool</div>
</header>
<section role="header" class="pl-iconsearch">
    {{> atoms-searchbox iconname="icon-search" }}
    <section class="pl-toolbar">
        <div class="pl-iconname">

        </div>
        <div class="pl-actions">
            {{#iconselection}}
            <div class="pl-selection">
                {{> atoms-label }}
                <div class="pl-selection-ctn" id="plOverViewTgl2">
                </div>
            </div>
            {{/iconselection}}
            {{#tools}}
            <div class="pl-action">
                <div class="pl-action-item pl-act-stylswtch">
                    {{> atoms-label }}
                    {{> atoms-toggle }}
                </div>
                <div class="pl-action-item pl-act-dwnld">
                    {{> atoms-button-primary }}
                </div>
            </div>
            {{/tools}}
        </div>
    </section>
</section>

<main class="pl-icongrid">
</main>

<script src="../../js/pl-icon-finder.js"></script>