<link href="../../images/fluent-ui-filled.svg" as="image" type="image/svg+xml" class="object-embedd pl-ico-filled" loading="lazy" rel="subresource">
<link href="../../images/fluent-ui-regular.svg" as="image" type="image/svg+xml" class="object-embedd pl-ico-regular" loading="lazy" rel="subresource">

<div class="pl-iconsearch">
    {{> atoms-searchbox iconname="icon-search" }}
    <div class="pl-iconinfo">
        info
            {{> atoms-toggle }}
    </div>

</div>

<div class="pl-icongrid">
</div>

<script src="../../js/pl-icon-finder.js"></script>