.lqd-buttoncmdbar {
	@extend .lqd-buttoncmd;

	display: inline-flex;
	justify-content: center;

	height: px2rem(44px);

	border: 1px transparent solid;

	align-items: center;

	button.lqd-buttoncmdbar {
		box-sizing: border-box;

		background-color: transparent;

		&>* {
			pointer-events: none;
		}

		&:active {
			background-color: $buttonBackgroundChecked;
		}
	}

	.lqd-button-label {
		color: black;
	}

	&:hover,
	.show-flyout {
		border: 1px $buttonBackgroundCheckedHovered solid;
		background-color: $buttonBackgroundCheckedHovered;
	}

}