<div class="lqd-buttoncmd" aria-haspopup="true">
    <button class="lqd-buttoncmd" aria-haspopup="true">
        <span class="lqd-button-icon" aria-hidden="true"> {{> atoms-icon iconname=iconAction }} </span>
        <span class="lqd-button-label"> {{label}} </span>
        <span class="lqd-button-icon lqd-buttonchevron"> {{> atoms-icon iconname=iconDown }} </span>
    </button>
    {{> atoms-buttons-flyouts contextItems=ddItems }}
</div>