<div class="hoo-cmdbar has-overflow">
    <div class="hoo-overflow">
        {{# cmdBarButtons }}
        {{> atoms-button-cmd }}
        {{/ cmdBarButtons }}
        {{> atoms-button-icon-overflow overflowButton }}
    </div>
</div>
<div class="hoo-cmdbar has-overflow">
    <div class="hoo-overflow">
        {{# cmdBarButtons }}
        {{> atoms-button-cmd }}
        {{/ cmdBarButtons }}
        {{> atoms-button-icon-overflow overflowButton }}
    </div>
</div>