%lqd-facepile{
	display: inline-block;

	width: 64px;
	height: 64px;
	margin-right: 1rem;
	margin-bottom: 1rem;

	border-radius: 50%;
	img.lqg-facepile{
		width: 100%;
		height: auto;
	}
}
.lqd-facepile-64{
	@extend %lqd-facepile;
}
.lqd-facepile-48{
	@extend %lqd-facepile;

	width: 48px;
	height: 48px;
}
.lqd-facepile-40{
	@extend %lqd-facepile;

	width: 40px;
	height: 40px;
}
.lqd-facepile-32{
	@extend %lqd-facepile;

	width: 32px;
	height: 32px;
}
.lqd-facepile-24{
	@extend %lqd-facepile;

	width: 24px;
	height: 24px;
}
.lqd-facepile-16{
	@extend %lqd-facepile;

	width: 16px;
	height: 16px;
}
.lqd-facepile-8{
	@extend %lqd-facepile;

	width: 8px;
	height: 8px;
}