.lqd-dlgheader{
    box-sizing: border-box;
    padding: px2rem(16px) px2rem(20px);
    display: flex;
    justify-content: space-between;
    background-color: cyan;
}
.lqd-dlgheader-title{
    background-color: yellow;
    font-size: px2rem(20px);
    h2{
        font-size: inherit;
        margin: 0;
    }
    
}
.lqd-dlgheader-closer{
    background-color: magenta;
}