<div class="lqd-select">
    <input type="text" id="lqd-select-input" class="lqd-select-text" aria-autocomplete="both"
        aria-controls="custom-select-list">{{> atoms-button-icon iconname=iconAction }}
    <ul class="lqd-select-dropdown">
        {{#each options }}
        <li data-value="{{ this.value }}">{{ this.key }}</li>
        {{/each }}
    </ul>
</div>