{{#form}}
<fieldset id="resolution" class="hoo-fieldset no-outline">
    <div class="hoo-field" role="group">
        {{#resolution-description}}
        {{> atoms-label }}
        {{> atoms-input-description }}
        {{> atoms-input-textarea }}
        {{/resolution-description}}
    </div>
    <div class="hoo-field" role="group">
        {{#parts-materials}}
        {{> atoms-label }}
        {{> atoms-input-description }}
        {{> atoms-input-textarea }}
        {{/parts-materials}}
    </div>
    <div class="hoo-field" role="group">
        {{#actual-time-to-resolve}}
        {{> atoms-label }}
        {{> atoms-input-text-suffixed }}
        {{> atoms-input-description }}
        {{/actual-time-to-resolve}}
    </div>
    <div class="hoo-field" role="group">
        {{#follow-up-required}}
        {{> atoms-label }}
        {{> atoms-toggle }}
        {{> atoms-input-description }}
        {{/follow-up-required}}
    </div>
    <div class="actions">
        {{#btn-report-unable}}
        {{> atoms-button-standard }}
        {{/btn-report-unable}}
        {{#btn-report-completed}}
        {{> atoms-button-primary }}
        {{/btn-report-completed}}
    </div>
</fieldset>
{{/form}}