{{#checkbox-group}}
<div class="hoo-checkbox-group" role="checkbox" tabindex="0">
    {{#each items }}
    <div tabindex="-1">
        {{>atoms-checkbox this }}
    </div>
    {{/each}}
</div>
{{/checkbox-group}}