$font-base-light: Segoe UI Light WestEuropean, Segoe UI Light, Segoe WP Light, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
$accent: #{var(--accent)};
$accentButtonBackground: #{var(--accentButtonBackground)};
$accentButtonText: #{var(--accentButtonText)};
$AccentLines: #{var(--AccentLines)};
$AccentText: #{var(--AccentText)};
$actionLink: #{var(--actionLink)};
$actionLinkHovered: #{var(--actionLinkHovered)};
$BackgroundOverlay: #{var(--BackgroundOverlay)};
$backgroundOverlay: #{var(--backgroundOverlay)};
$black: #{var(--black)};
$blackTranslucent40: #{var(--blackTranslucent40)};
$blockingBackground: #{var(--blockingBackground)};
$blockingIcon: #{var(--blockingIcon)};
$blue: #{var(--blue)};
$blueDark: #{var(--blueDark)};
$blueLight: #{var(--blueLight)};
$blueMid: #{var(--blueMid)};
$bodyBackground: #{var(--bodyBackground)};
$bodyBackgroundChecked: #{var(--bodyBackgroundChecked)};
$bodyBackgroundHovered: #{var(--bodyBackgroundHovered)};
$bodyDivider: #{var(--bodyDivider)};
$bodyFrameBackground: #{var(--bodyFrameBackground)};
$bodyFrameDivider: #{var(--bodyFrameDivider)};
$bodyStandoutBackground: #{var(--bodyStandoutBackground)};
$bodySubtext: #{var(--bodySubtext)};
$bodyText: #{var(--bodyText)};
$BodyText: #{var(--BodyText)};
$bodyTextChecked: #{var(--bodyTextChecked)};
$ButtonBackground: #{var(--ButtonBackground)};
$buttonBackground: #{var(--buttonBackground)};
$buttonBackgroundChecked: #{var(--buttonBackgroundChecked)};
$buttonBackgroundCheckedHovered: #{var(--buttonBackgroundCheckedHovered)};
$buttonBackgroundDisabled: #{var(--buttonBackgroundDisabled)};
$buttonBackgroundHovered: #{var(--buttonBackgroundHovered)};
$buttonBackgroundPressed: #{var(--buttonBackgroundPressed)};
$buttonBorder: #{var(--buttonBorder)};
$ButtonBorder: #{var(--ButtonBorder)};
$buttonBorderDisabled: #{var(--buttonBorderDisabled)};
$ButtonDisabledBackground: #{var(--ButtonDisabledBackground)};
$ButtonDisabledBorder: #{var(--ButtonDisabledBorder)};
$ButtonDisabledText: #{var(--ButtonDisabledText)};
$ButtonGlyph: #{var(--ButtonGlyph)};
$ButtonGlyphActive: #{var(--ButtonGlyphActive)};
$ButtonGlyphDisabled: #{var(--ButtonGlyphDisabled)};
$ButtonHoverBackground: #{var(--ButtonHoverBackground)};
$ButtonHoverBorder: #{var(--ButtonHoverBorder)};
$ButtonPressedBackground: #{var(--ButtonPressedBackground)};
$ButtonPressedBorder: #{var(--ButtonPressedBorder)};
$buttonText: #{var(--buttonText)};
$ButtonText: #{var(--ButtonText)};
$buttonTextChecked: #{var(--buttonTextChecked)};
$buttonTextCheckedHovered: #{var(--buttonTextCheckedHovered)};
$buttonTextDisabled: #{var(--buttonTextDisabled)};
$buttonTextHovered: #{var(--buttonTextHovered)};
$buttonTextPressed: #{var(--buttonTextPressed)};
$cardShadow: #{var(--cardShadow)};
$cardShadowHovered: #{var(--cardShadowHovered)};
$cardStandoutBackground: #{var(--cardStandoutBackground)};
$CommandLinks: #{var(--CommandLinks)};
$CommandLinksDisabled: #{var(--CommandLinksDisabled)};
$CommandLinksHover: #{var(--CommandLinksHover)};
$CommandLinksPressed: #{var(--CommandLinksPressed)};
$CommandLinksSecondary: #{var(--CommandLinksSecondary)};
$ContentAccent1: #{var(--ContentAccent1)};
$ContentAccent2: #{var(--ContentAccent2)};
$ContentAccent3: #{var(--ContentAccent3)};
$ContentAccent4: #{var(--ContentAccent4)};
$ContentAccent5: #{var(--ContentAccent5)};
$ContentAccent6: #{var(--ContentAccent6)};
$defaultStateBackground: #{var(--defaultStateBackground)};
$DialogBorder: #{var(--DialogBorder)};
$dialogBorder: #{var(--dialogBorder)};
$disabledBackground: #{var(--disabledBackground)};
$DisabledBackground: #{var(--DisabledBackground)};
$disabledBodySubtext: #{var(--disabledBodySubtext)};
$disabledBodyText: #{var(--disabledBodyText)};
$disabledBorder: #{var(--disabledBorder)};
$DisabledLines: #{var(--DisabledLines)};
$disabledSubtext: #{var(--disabledSubtext)};
$disabledText: #{var(--disabledText)};
$DisabledText: #{var(--DisabledText)};
$elevation16: #{var(--elevation16)};
$elevation4: #{var(--elevation4)};
$elevation64: #{var(--elevation64)};
$elevation8: #{var(--elevation8)};
$EmphasisBackground: #{var(--EmphasisBackground)};
$EmphasisBorder: #{var(--EmphasisBorder)};
$EmphasisHoverBackground: #{var(--EmphasisHoverBackground)};
$EmphasisHoverBorder: #{var(--EmphasisHoverBorder)};
$EmphasisText: #{var(--EmphasisText)};
$errorBackground: #{var(--errorBackground)};
$errorIcon: #{var(--errorIcon)};
$errorText: #{var(--errorText)};
$focusBorder: #{var(--focusBorder)};
$FooterBackground: #{var(--FooterBackground)};
$green: #{var(--green)};
$greenDark: #{var(--greenDark)};
$greenLight: #{var(--greenLight)};
$HeaderAccentLines: #{var(--HeaderAccentLines)};
$HeaderBackground: #{var(--HeaderBackground)};
$HeaderDisabledBackground: #{var(--HeaderDisabledBackground)};
$HeaderDisabledLines: #{var(--HeaderDisabledLines)};
$HeaderDisableText: #{var(--HeaderDisableText)};
$HeaderLines: #{var(--HeaderLines)};
$HeaderNavigationHoverText: #{var(--HeaderNavigationHoverText)};
$HeaderNavigationPressedText: #{var(--HeaderNavigationPressedText)};
$HeaderNavigationSelectedText: #{var(--HeaderNavigationSelectedText)};
$HeaderNavigationText: #{var(--HeaderNavigationText)};
$HeaderSiteTitle: #{var(--HeaderSiteTitle)};
$HeaderStrongLines: #{var(--HeaderStrongLines)};
$HeaderSubtleLines: #{var(--HeaderSubtleLines)};
$HeaderSubtleText: #{var(--HeaderSubtleText)};
$HeaderText: #{var(--HeaderText)};
$HoverBackground: #{var(--HoverBackground)};
$Hyperlink: #{var(--Hyperlink)};
$HyperlinkActive: #{var(--HyperlinkActive)};
$Hyperlinkfollowed: #{var(--Hyperlinkfollowed)};
$infoBackground: #{var(--infoBackground)};
$infoIcon: #{var(--infoIcon)};
$inputBackground: #{var(--inputBackground)};
$inputBackgroundChecked: #{var(--inputBackgroundChecked)};
$inputBackgroundCheckedHovered: #{var(--inputBackgroundCheckedHovered)};
$inputBorder: #{var(--inputBorder)};
$inputBorderHovered: #{var(--inputBorderHovered)};
$inputFocusBorderAlt: #{var(--inputFocusBorderAlt)};
$inputForegroundChecked: #{var(--inputForegroundChecked)};
$inputIcon: #{var(--inputIcon)};
$inputIconDisabled: #{var(--inputIconDisabled)};
$inputIconHovered: #{var(--inputIconHovered)};
$inputPlaceholderBackgroundChecked: #{var(--inputPlaceholderBackgroundChecked)};
$inputPlaceholderText: #{var(--inputPlaceholderText)};
$inputText: #{var(--inputText)};
$inputTextHovered: #{var(--inputTextHovered)};
$largeFontFamily: #{var(--largeFontFamily)};
$largeFontSize: #{var(--largeFontSize)};
$largeFontWeight: #{var(--largeFontWeight)};
$largeMozOsxFontSmoothing: #{var(--largeMozOsxFontSmoothing)};
$largeWebkitFontSmoothing: #{var(--largeWebkitFontSmoothing)};
$Lines: #{var(--Lines)};
$link: #{var(--link)};
$linkHovered: #{var(--linkHovered)};
$listBackground: #{var(--listBackground)};
$listHeaderBackgroundHovered: #{var(--listHeaderBackgroundHovered)};
$listHeaderBackgroundPressed: #{var(--listHeaderBackgroundPressed)};
$listItemBackgroundChecked: #{var(--listItemBackgroundChecked)};
$listItemBackgroundCheckedHovered: #{var(--listItemBackgroundCheckedHovered)};
$listItemBackgroundHovered: #{var(--listItemBackgroundHovered)};
$listText: #{var(--listText)};
$listTextColor: #{var(--listTextColor)};
$magenta: #{var(--magenta)};
$magentaDark: #{var(--magentaDark)};
$magentaLight: #{var(--magentaLight)};
$mediumFontFamily: #{var(--mediumFontFamily)};
$mediumFontSize: #{var(--mediumFontSize)};
$mediumFontWeight: #{var(--mediumFontWeight)};
$mediumMozOsxFontSmoothing: #{var(--mediumMozOsxFontSmoothing)};
$mediumPlusFontFamily: #{var(--mediumPlusFontFamily)};
$mediumPlusFontSize: #{var(--mediumPlusFontSize)};
$mediumPlusFontWeight: #{var(--mediumPlusFontWeight)};
$mediumPlusMozOsxFontSmoothing: #{var(--mediumPlusMozOsxFontSmoothing)};
$mediumPlusWebkitFontSmoothing: #{var(--mediumPlusWebkitFontSmoothing)};
$mediumWebkitFontSmoothing: #{var(--mediumWebkitFontSmoothing)};
$megaFontFamily: #{var(--megaFontFamily)};
$megaFontSize: #{var(--megaFontSize)};
$megaFontWeight: #{var(--megaFontWeight)};
$megaMozOsxFontSmoothing: #{var(--megaMozOsxFontSmoothing)};
$megaWebkitFontSmoothing: #{var(--megaWebkitFontSmoothing)};
$menuBackground: #{var(--menuBackground)};
$menuDivider: #{var(--menuDivider)};
$menuHeader: #{var(--menuHeader)};
$menuIcon: #{var(--menuIcon)};
$menuItemBackgroundChecked: #{var(--menuItemBackgroundChecked)};
$menuItemBackgroundHovered: #{var(--menuItemBackgroundHovered)};
$menuItemBackgroundPressed: #{var(--menuItemBackgroundPressed)};
$menuItemText: #{var(--menuItemText)};
$menuItemTextHovered: #{var(--menuItemTextHovered)};
$messageLink: #{var(--messageLink)};
$messageLinkHovered: #{var(--messageLinkHovered)};
$messageText: #{var(--messageText)};
$Navigation: #{var(--Navigation)};
$NavigationAccent: #{var(--NavigationAccent)};
$NavigationHover: #{var(--NavigationHover)};
$NavigationHoverBackground: #{var(--NavigationHoverBackground)};
$NavigationPressed: #{var(--NavigationPressed)};
$NavigationSelectedBackground: #{var(--NavigationSelectedBackground)};
$neutralDark: #{var(--neutralDark)};
$neutralLight: #{var(--neutralLight)};
$neutralLighter: #{var(--neutralLighter)};
$neutralLighterAlt: #{var(--neutralLighterAlt)};
$neutralPrimary: #{var(--neutralPrimary)};
$neutralPrimaryAlt: #{var(--neutralPrimaryAlt)};
$neutralQuaternary: #{var(--neutralQuaternary)};
$neutralQuaternaryAlt: #{var(--neutralQuaternaryAlt)};
$neutralSecondary: #{var(--neutralSecondary)};
$neutralSecondaryAlt: #{var(--neutralSecondaryAlt)};
$neutralTertiary: #{var(--neutralTertiary)};
$neutralTertiaryAlt: #{var(--neutralTertiaryAlt)};
$orange: #{var(--orange)};
$orangeLight: #{var(--orangeLight)};
$orangeLighter: #{var(--orangeLighter)};
$PageBackground: #{var(--PageBackground)};
$primaryBackground: #{var(--primaryBackground)};
$primaryButtonBackground: #{var(--primaryButtonBackground)};
$primaryButtonBackgroundDisabled: #{var(--primaryButtonBackgroundDisabled)};
$primaryButtonBackgroundHovered: #{var(--primaryButtonBackgroundHovered)};
$primaryButtonBackgroundPressed: #{var(--primaryButtonBackgroundPressed)};
$primaryButtonBorder: #{var(--primaryButtonBorder)};
$primaryButtonText: #{var(--primaryButtonText)};
$primaryButtonTextDisabled: #{var(--primaryButtonTextDisabled)};
$primaryButtonTextHovered: #{var(--primaryButtonTextHovered)};
$primaryButtonTextPressed: #{var(--primaryButtonTextPressed)};
$primaryText: #{var(--primaryText)};
$purple: #{var(--purple)};
$purpleDark: #{var(--purpleDark)};
$purpleLight: #{var(--purpleLight)};
$red: #{var(--red)};
$redDark: #{var(--redDark)};
$roundedCorner2: #{var(--roundedCorner2)};
$roundedCorner4: #{var(--roundedCorner4)};
$roundedCorner6: #{var(--roundedCorner6)};
$RowAccent: #{var(--RowAccent)};
$SelectionBackground: #{var(--SelectionBackground)};
$severeWarningBackground: #{var(--severeWarningBackground)};
$severeWarningIcon: #{var(--severeWarningIcon)};
$SiteTitle: #{var(--SiteTitle)};
$smallFontFamily: #{var(--smallFontFamily)};
$smallFontSize: #{var(--smallFontSize)};
$smallFontWeight: #{var(--smallFontWeight)};
$smallInputBorder: #{var(--smallInputBorder)};
$smallMozOsxFontSmoothing: #{var(--smallMozOsxFontSmoothing)};
$smallPlusFontFamily: #{var(--smallPlusFontFamily)};
$smallPlusFontSize: #{var(--smallPlusFontSize)};
$smallPlusFontWeight: #{var(--smallPlusFontWeight)};
$smallPlusMozOsxFontSmoothing: #{var(--smallPlusMozOsxFontSmoothing)};
$smallPlusWebkitFontSmoothing: #{var(--smallPlusWebkitFontSmoothing)};
$smallWebkitFontSmoothing: #{var(--smallWebkitFontSmoothing)};
$StrongBodyText: #{var(--StrongBodyText)};
$StrongLines: #{var(--StrongLines)};
$SubtleBodyText: #{var(--SubtleBodyText)};
$SubtleEmphasisBackground: #{var(--SubtleEmphasisBackground)};
$SubtleEmphasisCommandLinks: #{var(--SubtleEmphasisCommandLinks)};
$SubtleEmphasisText: #{var(--SubtleEmphasisText)};
$SubtleLines: #{var(--SubtleLines)};
$successBackground: #{var(--successBackground)};
$successIcon: #{var(--successIcon)};
$successText: #{var(--successText)};
$SuiteBarBackground: #{var(--SuiteBarBackground)};
$suiteBarBackground: #{var(--suiteBarBackground)};
$SuiteBarDisabledText: #{var(--SuiteBarDisabledText)};
$suiteBarDisabledText: #{var(--suiteBarDisabledText)};
$SuiteBarHoverBackground: #{var(--SuiteBarHoverBackground)};
$SuiteBarHoverText: #{var(--SuiteBarHoverText)};
$SuiteBarText: #{var(--SuiteBarText)};
$suiteBarText: #{var(--suiteBarText)};
$superLargeFontFamily: #{var(--superLargeFontFamily)};
$superLargeFontSize: #{var(--superLargeFontSize)};
$superLargeFontWeight: #{var(--superLargeFontWeight)};
$superLargeMozOsxFontSmoothing: #{var(--superLargeMozOsxFontSmoothing)};
$superLargeWebkitFontSmoothing: #{var(--superLargeWebkitFontSmoothing)};
$teal: #{var(--teal)};
$tealDark: #{var(--tealDark)};
$tealLight: #{var(--tealLight)};
$themeAccent: #{var(--themeAccent)};
$themeAccentTranslucent10: #{var(--themeAccentTranslucent10)};
$themeDark: #{var(--themeDark)};
$themeDarkAlt: #{var(--themeDarkAlt)};
$themeDarker: #{var(--themeDarker)};
$themeLight: #{var(--themeLight)};
$themeLighter: #{var(--themeLighter)};
$themeLighterAlt: #{var(--themeLighterAlt)};
$themePrimary: #{var(--themePrimary)};
$themeSecondary: #{var(--themeSecondary)};
$themeTertiary: #{var(--themeTertiary)};
$TileBackgroundOverlay: #{var(--TileBackgroundOverlay)};
$TileText: #{var(--TileText)};
$tinyFontFamily: #{var(--tinyFontFamily)};
$tinyFontSize: #{var(--tinyFontSize)};
$tinyFontWeight: #{var(--tinyFontWeight)};
$tinyMozOsxFontSmoothing: #{var(--tinyMozOsxFontSmoothing)};
$tinyWebkitFontSmoothing: #{var(--tinyWebkitFontSmoothing)};
$TopBarBackground: #{var(--TopBarBackground)};
$topBarBackground: #{var(--topBarBackground)};
$TopBarHoverText: #{var(--TopBarHoverText)};
$topBarHoverText: #{var(--topBarHoverText)};
$TopBarPressedText: #{var(--TopBarPressedText)};
$TopBarText: #{var(--TopBarText)};
$topBarText: #{var(--topBarText)};
$variantBorder: #{var(--variantBorder)};
$variantBorderHovered: #{var(--variantBorderHovered)};
$warningBackground: #{var(--warningBackground)};
$warningHighlight: #{var(--warningHighlight)};
$warningIcon: #{var(--warningIcon)};
$warningText: #{var(--warningText)};
$WebPartHeading: #{var(--WebPartHeading)};
$white: #{var(--white)};
$whiteTranslucent40: #{var(--whiteTranslucent40)};
$xLargeFontFamily: #{var(--xLargeFontFamily)};
$xLargeFontSize: #{var(--xLargeFontSize)};
$xLargeFontWeight: #{var(--xLargeFontWeight)};
$xLargeMozOsxFontSmoothing: #{var(--xLargeMozOsxFontSmoothing)};
$xLargePlusFontFamily: #{var(--xLargePlusFontFamily)};
$xLargePlusFontSize: #{var(--xLargePlusFontSize)};
$xLargePlusFontWeight: #{var(--xLargePlusFontWeight)};
$xLargePlusMozOsxFontSmoothing: #{var(--xLargePlusMozOsxFontSmoothing)};
$xLargePlusWebkitFontSmoothing: #{var(--xLargePlusWebkitFontSmoothing)};
$xLargeWebkitFontSmoothing: #{var(--xLargeWebkitFontSmoothing)};
$xSmallFontFamily: #{var(--xSmallFontFamily)};
$xSmallFontSize: #{var(--xSmallFontSize)};
$xSmallFontWeight: #{var(--xSmallFontWeight)};
$xSmallMozOsxFontSmoothing: #{var(--xSmallMozOsxFontSmoothing)};
$xSmallWebkitFontSmoothing: #{var(--xSmallWebkitFontSmoothing)};
$xxLargeFontFamily: #{var(--xxLargeFontFamily)};
$xxLargeFontSize: #{var(--xxLargeFontSize)};
$xxLargeFontWeight: #{var(--xxLargeFontWeight)};
$xxLargeMozOsxFontSmoothing: #{var(--xxLargeMozOsxFontSmoothing)};
$xxLargePlusFontFamily: #{var(--xxLargePlusFontFamily)};
$xxLargePlusFontSize: #{var(--xxLargePlusFontSize)};
$xxLargePlusFontWeight: #{var(--xxLargePlusFontWeight)};
$xxLargePlusMozOsxFontSmoothing: #{var(--xxLargePlusMozOsxFontSmoothing)};
$xxLargePlusWebkitFontSmoothing: #{var(--xxLargePlusWebkitFontSmoothing)};
$xxLargeWebkitFontSmoothing: #{var(--xxLargeWebkitFontSmoothing)};
$yellow: #{var(--yellow)};
$yellowDark: #{var(--yellowDark)};
$yellowLight: #{var(--yellowLight)};





$theme-100: #{var(--themeLighterAlt)};
$theme-200: #{var(--themeLighter)};
$theme-300: #{var(--themeLight)};
$theme-400: #{var(--themeTertiary)};
$theme-500: #{var(--themeSecondary)};
$theme-600: #{var(--themePrimary)};
$theme-700: #{var(--themeDarkAlt)};
$theme-800: #{var(--themeDark)};
$theme-900: #{var(--themeDarker)};

$neutral-000: #{var(--white)};
$neutral-050: #{var(--neutralLighterAlt)};
$neutral-100: #{var(--neutralLighter)};
$neutral-200: #{var(--neutralLight)};
$neutral-250: #{var(--neutralQuaternaryAlt)};
$neutral-300: #{var(--neutralQuaternary)};
$neutral-350: #{var(--neutralTertiaryAlt)};
$neutral-400: #{var(--neutralTertiary)};
$neutral-450: #{var(--neutralSecondaryAlt)};
$neutral-500: #{var(--neutralSecondary)};
$neutral-600: #{var(--neutralPrimaryAlt)};
$neutral-700: #{var(--neutralPrimary)};
$neutral-800: #{var(--neutralDark)};
$neutral-900: #{var(--black)};
