{{#field}}
{{ this.text }}
{{ json this }}
<div class="hoo-field">
    {{>atoms-label}}
    {{>atoms-input-description }}
    {{>atoms-input-text }}
    {{>atoms-validation-message}} 
</div>
{{/field}}