{{#radiobutton-group}}
<div class="hoo-radiobutton-group is-horizontal" role="radiogroup" tabindex="0">
    {{#each items }}
    <div tabindex="-1" role="radio">
        {{>atoms-radiobutton this }}
    </div>
    {{/each}}
</div>
{{/radiobutton-group}}