<a href="#" class="hoo-doccard-link">
    <article class="hoo-doccard">
        {{> molecules-card-image card=card }}
        {{> molecules-card-location location=location }}
        {{> molecules-card-title title=title }}
        {{> molecules-card-footer card=card }}
        </article>
</a>