<article class="hoo-doccard">
    <div class="hoo-cardimage">
        {{> atoms-shimmer-squared }}
    </div>
    <div class="hoo-cardlocation">
        {{> atoms-shimmer-row }}
    </div>
    <div class="hoo-cardtitle">
        {{> atoms-shimmer-row }}
    </div>
    <div class="hoo-cardfooter">
        <div class="hoo-avatar">
            {{> atoms-shimmer-circle }}
        </div>
        <div class="hoo-cardfooter-data">
            <div class="hoo-cardfooter-name">
                {{> atoms-shimmer-row }}
            </div>
            <div class="hoo-cardfooter-modified">
                {{> atoms-shimmer-row }}
            </div>
        </div>
    </div>
</article>