@use '../../00-base/colors/colors';
@use '../../00-base/mixin/core.mixin' as core;

.hoo-input-file {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoo-infile-icon {
    .hoo-icon {
        height: 100%;
        width: auto;
    }

    .hoo-icon-svg {
        min-width: 2lh;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: colors.$neutral-400;
    }
}

.hoo-infile-label {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    padding-block: 1rem;
    padding-inline: .75rem 1.5rem;
    font-size: core.px2rem(14px);
    gap: .5rem;

    border: 1px colors.$neutral-300 solid;
    background-color: colors.$neutral-050;
    border-radius: .5rem;

    &.drag-over{
        border: 1px dotted colors.$theme-500;
        background-color: colors.$theme-100;
    }
}

.hoo-infile-description {
    font-size: core.px2rem(12px);
    text-align: left;
    margin: 0;
    margin-top: 0.5em;
}

.hoo-infile-context {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    display: contents;
}

.hoo-infile-output {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 1rem);
    text-align: left;
    padding: 1rem 1.5rem .75rem;
    border: 1px colors.$neutral-200 solid;
    border-top: none;
    background-color: colors.$neutral-050;
    border-radius: 0 0 .5rem .5rem;

    &:empty {
        display: none;
    }
}

.hoo-infile-selection {
    font-weight: 600;
    font-size: core.px2rem(14px);
}

.hoo-infile-list {
    font-size: core.px2rem(14px);
    list-style: outside none none;
    padding: 0;
    line-height: 1.5;
    margin-block: .5rem;;
}