@use "00-base/colors/colors";
@use "00-base/mixin/core.mixin";

@mixin base-input{
	font-size: core.px2rem(14px);
	line-height: core.px2rem(30px);

	box-sizing: border-box;
	width: auto;
	margin: 0;
	padding: 0 core.px2rem(8px);

	border: 1px colors.$neutral-500 solid;
	border-radius: 2px;
	outline: 1px rgba(255, 255, 255, 0) solid;
}

.hoo-input-text{
	@include base-input();

	// general focus
	&:focus{
		line-height: calc(1.9rem - 2px);

		padding: 0 core.px2rem(7px);

		border: 2px colors.$theme-600 solid;
		outline: 0 rgba(255, 255, 255, 0) solid;
	}

	// in valid 
	&.is-invalid,
	&:invalid{
		border-color: colors.$errorText;
	}

	// diabled buttn style
	&:disabled{
		color: colors.$neutral-400;
		border-color: colors.$neutral-100;
		background-color: colors.$neutral-100;
	}

	&[data-prefix]{
		padding-left: core.px2rem(8px);

		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&[data-suffix]{
		padding-right: core.px2rem(8px);

		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.hoo-input-prefix{
	@include base-input();

	display: inline-block;

	box-sizing: border-box;

	color: colors.$neutral-700;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: colors.$neutral-100;
}

.hoo-input-suffix{
	@include base-input();

	display: inline-block;

	box-sizing: border-box;

	color: colors.$neutral-700;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: colors.$neutral-100;
}

.hoo-input-group{
	display: flex;

	&:focus-within{
		& > *{
			line-height: calc(1.9rem - 2px);

			padding: 0 core.px2rem(7px);

			border-width: 2px;
			border-color: colors.$theme-600;
		}

		.hoo-input-text{
			padding: 0 core.px2rem(8px);
		}

		.hoo-input-suffix{
			padding-right: core.px2rem(7px);
			padding-left: core.px2rem(8px);
		}

		.hoo-input-prefix{
			padding-right: core.px2rem(8px);
			padding-left: core.px2rem(7px);
		}
	}
}

.hoo-input-time,
.hoo-input-date{
	font-family: colors.$mediumFontFamily;
	font-size: core.px2rem(14px);

	padding-right: core.px2rem(8px);
	padding-left: core.px2rem(4px);

	color: colors.$neutral-700;

	&::-webkit-calendar-picker-indicator{
		margin-right: 0;
		margin-left: core.px2rem(8px);
	}

	&:focus{
		border-color: transparent;
		outline: 2px colors.$theme-600 solid;
	}
}

input[type="number"]{
	line-height: 1.9rem;

	min-width: core.px2rem(100px);
	padding-right: 0;

	div:last-child{
		margin-top: core.px2rem(-8px);
		margin-bottom: core.px2rem(-8px);
	}

	&:hover,
	&:focus{
		padding-right: 0;
	}

	/*** Web Kif Fixup **/
	&::-webkit-inner-spin-button{
		margin-left: 8px;
	}
}