.hoo-input-search {
  // @extend .hoo-input-group;
  display: flex;
  flex-direction: row;

  .hoo-icon {
    background-color: white;
  }

  .hoo-input-text {
    @include base-input;

    width: calc(100% - 2rem);

    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .hoo-icon {
    @include base-input;

    width: px2rem(32px);
    height: 2rem;
    padding-right: px2rem(5px);
    padding-left: px2rem(5px);

    transition: all .1s;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:focus-within {

    .hoo-icon,
    .hoo-input-text {
      height: px2rem(32px);

      border-width: px2rem(2px);
      border-color: $theme-600;
      outline: 0 rgba(255, 255, 255, 0) solid;
    }

    .hoo-input-text {
      width: 100%;
    }

    .hoo-icon {
      overflow: hidden;

      max-width: 0;
      padding: 0;
    }
  }
}