@use "../../00-base/mixin/core.mixin";
@use '../../00-base/colors/colors';

.hoo-validation{
    font-size: core.px2rem(14px); // TODO: font size to small
	font-weight: 400;
    color: colors.$errorText;
    &.success{
        color: colors.$successText;
    }
}